<div class="common_tab_links_wrap">
    <ul>
        <li><a class="cta_link {{#ifCond active '===' 'applicant_account'}} active {{/ifCond}}"
               href="/applicant-account">Profile</a></li>
        <li><a class="cta_link{{#ifCond active '===' 'applicant_application'}} active {{/ifCond}}"
               href="/applicant/applications">Applications</a></li>
        <li><a class="cta_link {{#ifCond active '===' 'applicant_preference'}} active {{/ifCond}}"
               href="/applicant/preferences">Preferences</a></li>
    </ul>
</div>