<div class="page_footer_wrap">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="footer_title">Footer</h3>
        </div>
    </div>
</div>

<!-- Footer assets file -->
{{>footer_assets}}