<header class="header_wrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="search_box_wrap">
                    <img src="/img/common/search.svg" class="search_icon" alt="Search Icon">
                    <input class="form-control search_box" placeholder="Search by UHID | Name | Mobile number">
                </div>
            </div>
        </div>
    </div>
</header>