<div class="common_tab_links_wrap">
    <ul>
        <li><a class="cta_link {{#ifCond active '===' 'recruiter_profile'}} active {{/ifCond}}" href="/recruiter">Profile</a>
        </li>
        <li><a class="cta_link {{#ifCond active '===' 'companies'}} active {{/ifCond}}" href="/recruiter/companies">Companies</a>
        </li>
        <li><a class="cta_link {{#ifCond active '===' 'applications'}} active {{/ifCond}}"
               href="/recruiter/applications">Applications</a></li>
        <li><a class="cta_link {{#ifCond active '===' 'notification'}} active {{/ifCond}}" href="/recruiter/notification">Notifications</a>
        </li>
    </ul>
</div>