.page_footer_wrap {
    background: rgba(0, 0, 0, 0.4);
    padding: 20px;
    text-align: center;
    background-image: linear-gradient(-180deg, #717DF0 0%, #7348DB 96%);

    .footer_title {
        padding: 30px;
    }
}