<!DOCTYPE html>
<html lang="en">
<head>
    <title>Search</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{>header_assets swiper=true  select2=true}}
</head>
<body class="">
{{>header}}
<section class="common_hero_sec">
    <div class="container">

    </div>
</section>
<section class="common_main_sec">
    <div class="container">
        <div class="common_tab_links_wrap">
            <ul>
                <li><a class="cta_link" href="/recruiter-profile">Profile</a></li>
                <li><a class="cta_link active" href="/job-recruiter">Applications</a></li>
                <li><a class="cta_link">Preferences</a></li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="common_form_sec">

                </div>
            </div>
        </div>
    </div>
</section>
{{>footer swiper=true select2=true}}
</body>
<script type="application/javascript">
    $(function() {


    });
</script>
</html>
