<!DOCTYPE html>
<html lang="en">
<head>
    <title>Pixlcoders</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{>header_assets swiper=true  select2=true}}
</head>
<body class="">
{{>header}}
<section class="common_main_sec">

    <div class="container">
        <div class="common_tab_links_wrap">
            <ul>
                <li><a class="cta_link " href="#">Profile</a></li>
                <li><a class="cta_link active" href="#">Applications</a></li>
                <li><a class="cta_link" href="#">Preferences</a></li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="common_form_sec">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <h4>Buttons and links</h4>
                            <button class="btn btn_big">PREVIEW</button>
                            <button class="btn btn_big btn_blue">
                                <span class="fa fa-check left_icon"></span>
                                SAVE
                            </button>
                            <button class="btn btn_big btn_blue">
                                PROCEED
                                <span class="fa fa-arrow-right right_icon"></span>
                            </button>

                            <br>
                            <br>

                            <a class="btn btn_big">PREVIEW</a>
                            <a class="btn btn_big btn_blue">
                                <span class="fa fa-check left_icon"></span>
                                SAVE
                            </a>
                            <a class="btn btn_big btn_blue">
                                PROCEED
                                <span class="fa fa-arrow-right right_icon"></span>
                            </a>

                            <br>
                            <br>


                            <button class="btn">PREVIEW</button>
                            <button class="btn btn_blue">
                                SAVE
                            </button>
                            <button class="btn btn_blue">
                                PROCEED
                            </button>

                            <br>
                            <br>

                            <a class="btn">PREVIEW</a>
                            <a class="btn btn_blue">
                                SAVE
                            </a>
                            <a class="btn btn_blue">
                                PROCEED
                            </a>

                            <br>
                            <br>
                            <h4>Inputs</h4>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group pixl_form_group">
                                        <label class="control-label">Title</label>
                                        <div class="box_sec">
                                            <input type="email" class="form-control" placeholder="Title">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group pixl_form_group">
                                        <label class="control-label">Title</label>
                                        <div class="box_sec">
                                            <input type="email" class="form-control" placeholder="Title">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group pixl_form_group">
                                        <label class="control-label">Title</label>
                                        <div class="box_sec upload_sec">
                                            <span class="fa fa-file-text-o icon_sec">
                                                <span class="fa fa-arrow-circle-o-up sub_icon_sec"></span>
                                            </span>
                                            <span>Drag & drop Image or </span>
                                            <a class="upload_txt">Upload file</a>
                                            <input type="file" class="input_file">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{>footer swiper=true select2=true}}
</body>
<script type="application/javascript">
    $(function() {

    });
</script>
</html>
