<!DOCTYPE html>
<html lang="en">
<head>
    <title>Acute Bronchitis</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
    {{>header_assets select2=true}}
</head>
<body class="view_user_profile_pg med_content_pg">
<div class="hero_sec">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="name_info_sec">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="/img/Medinin-Logo.png" alt="" style="width: 60px;height: 60px">
                        </div>
                        <div class="col-md-9">
                            <div class="name_txt">Rahul Redekar</div>
                            <div class="qualification_txt">Fresher - B.Tech in Computer Science</div>
                        </div>
                    </div>
                </div>
                <div class="detail_sec">
                    <form class="" id="jsLoginForm">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Full Name</label>
                                    <input type="text" class="form-control js_email" placeholder="Rahul Redekar">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Experience</label>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input type="text" class="form-control js_password"
                                                   placeholder="0 years">
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control js_password"
                                                   placeholder="0 months">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="text" class="form-control js_email" placeholder="Your email address">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="text" class="form-control js_email" placeholder="Your email address">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="text" class="form-control js_email" placeholder="Your email address">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="text" class="form-control js_email" placeholder="Your email address">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="text" class="form-control js_email" placeholder="Your email address">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="text" class="form-control js_email" placeholder="Your email address">
                                </div>
                            </div>
                        </div>
                    </form>

                </div>

                <br/>
                <br/>
                <br/>
                <div class="form-group">
                    <button type="submit" class="submit_btn btn btn-primary btn-lg btn-block">LOGIN</button>
                </div>

            </div>


            <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3">

            </div>
        </div>
    </div>
</div>
{{>footer_assets}}
</body>
<script type="application/javascript">
    $(function () {
        LoginHandler.init();
    });
</script>
</html>
