<!DOCTYPE html>
<html lang="en">
<head>
    <title>Search</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{>header_assets}}
</head>
<body class="job_applicant_pg">
{{>header}}
<section class="hero_sec">

</section>
<section class="main_cont_sec">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="form_sec">
                    <div class="user_wrap">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="profile_img_wrap">
                                    <img src="https://via.placeholder.com/150" class="img_sec">
                                    <div class="icon_wrap">
                                        <span class="fa fa-pencil"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-10">
                                <div class="details_sec">
                                    <div class="name">
                                        Sunil Suresh Patil
                                    </div>
                                    <div class="designation">
                                        Full Stack Developer, 5yrs Exp.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="cards_wrap">
                        <div class="panel-group" id="accordion">
                            <div class="panel">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-md-9">
                                            <a data-toggle="collapse" class="panel-title" data-parent="#accordion"
                                               href="#collapse1">
                                                <span class="highlights">Technology Lead</span>
                                                <span class="small_txt">– WebLogic Admin(Hadoop)</span>
                                                <span class="fa fa-angle-down"></span>
                                            </a>
                                        </div>
                                        <div class="col-md-3">
                                            <a class="close_btn_link">
                                                <span class="fa fa-times"></span>
                                                <span>CLOSE JOB</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div id="collapse1" class="panel-collapse collapse in">
                                    <div class="panel-body">Lorem ipsum dolor sit amet, consectetur
                                        adipisicing elit,
                                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        Ut enim ad
                                        minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                        aliquip ex ea
                                        commodo consequat.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{>footer}}
</body>
<script type="application/javascript">
    $(function() {
        $('.js_select2').select2({});
    });
</script>
</html>
