<!DOCTYPE html>
<html lang="en">
<head>
    <title>Search</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{>header_assets swiper=true  select2=true}}
</head>
<body class="job_recruiter_pg">
{{>header}}
<section class="hero_sec">
    <div class="container">

    </div>
</section>
<section class="main_cont_sec">
    <div class="container">
        <div class="tab_links_wrap">
            <ul>
                <li><a class="cta_link" href="/recruiter-profile">Profile</a></li>
                <li><a class="cta_link active" href="/job-recruiter">Applications</a></li>
                <li><a class="cta_link">Preferences</a></li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="form_sec">
                    <div class="user_wrap">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="profile_img_wrap">
                                    <img src="https://via.placeholder.com/150" class="img_sec">
                                    <div class="icon_wrap">
                                        <span class="fa fa-pencil"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-10">
                                <div class="details_sec">
                                    <div class="name">
                                        Pattu Technologies
                                    </div>
                                    <div class="designation">
                                        Bangalore, www.pixlcoders.com
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cards_wrap js_cards_wrap">
                        {{#each data}}
                            {{>client/applicant_card_row}}
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{>footer swiper=true select2=true}}
</body>
<script type="application/javascript">
    $(function() {

        $('.js_more_btn_link').click(function() {
            var _this   = $(this);
            var _parent = $(this).closest('.js_main_card_sec');
            _parent.find('.js_panel_title').trigger('click');
            if(_this.hasClass('collapsed')) {
                _this.removeClass('hide');
            } else {
                _this.addClass('hide');
            }
        });

        $('.js_panel_title').click(function() {
            var _this   = $(this);
            var _parent = $(this).closest('.js_main_card_sec');
            if(!_this.hasClass('collapsed')) {
                _parent.find('.js_more_btn_link').addClass('hide');
                _parent.find('.js_reopen_card').removeClass('hide');
                _parent.find('.js_total_application_txt').removeClass('application');
            } else {
                _parent.find('.js_more_btn_link').removeClass('hide');
                _parent.find('.js_open_card').addClass('hide');
                _parent.find('.js_reopen_card').addClass('hide');
                _parent.find('.js_total_application_txt').addClass('application');
            }
        });

        $('.js_open_card').click(function() {
            var _this   = $(this);
            var _parent = $(this).closest('.js_main_card_sec');
            _parent.find('.js_panel_title').trigger('click');
        });

        $('.js_reopen_card').click(function() {
            var _this   = $(this);
            var _parent = $(this).closest('.js_main_card_sec');
            _parent.find('.js_panel_title').trigger('click');
        });

        $('.js_main_card_sec').each(function(i) {
            new Swiper('.js_applicant_card_swiper_' + i, {
                slidesPerView:2,
                spaceBetween :18,
                navigation   :{
                    nextEl:'.js_applicant_card_swiper_next_' + i,
                    prevEl:'.js_applicant_card_swiper_prev_' + i
                }
            });
        });

    });
</script>
</html>
