<!DOCTYPE html>
<html lang="en">
<head>
    <title>Recruiter</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{>header_assets swiper=true  select2=true}}
</head>
<body class="job_recruiter_pg">
{{>header}}
<section class="common_main_sec">
    {{>common_hero_sec}}
    <div class="container">
        <div class="common_tab_links_wrap">
            <ul>
                <li><a class="cta_link " href="#">Profile</a></li>
                <li><a class="cta_link active" href="#">Applications</a></li>
                <li><a class="cta_link" href="#">Preferences</a></li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="common_form_sec">
                    <div class="user_wrap">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="profile_img_wrap">
                                    <img src="https://via.placeholder.com/150" class="img_sec">
                                    <div class="icon_wrap">
                                        <span class="fa fa-pencil"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-10">
                                <div class="details_sec">
                                    <div class="name">
                                        {{companies.0.name}}
                                    </div>
                                    <div class="designation">
                                        {{companies.0.city}}{{companies.0.url}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cards_wrap js_cards_wrap">
                        {{>client/applicant_card_row data=jobs.result}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{>footer swiper=true select2=true}}
</body>
<script type="application/javascript">
    $(function() {

        $('.js_more_btn_link').click(function() {
            var _this   = $(this);
            var _parent = $(this).closest('.js_main_card_sec');
            _parent.find('.js_panel_title').trigger('click');
            if(_this.hasClass('collapsed')) {
                _this.removeClass('hide');
            } else {
                _this.addClass('hide');
            }
        });

        $('.js_panel_title').click(function() {
            var _this            = $(this);
            var _parent          = $(this).closest('.js_main_card_sec');
            var _swiperContainer = _parent.find('.swiper-container');
            var _swiperData      = _swiperContainer.data('swiper');

            if(!_this.hasClass('collapsed')) {
                _parent.find('.js_more_btn_link').addClass('hide');
                _parent.find('.js_reopen_card').removeClass('hide');
                _parent.find('.js_total_application_txt').removeClass('application');
            } else {
                _parent.find('.js_more_btn_link').removeClass('hide');
                _parent.find('.js_open_card').addClass('hide');
                _parent.find('.js_reopen_card').addClass('hide');
                _parent.find('.js_total_application_txt').addClass('application');
            }
            _swiperData.update();
        });

        $('.js_open_card').click(function() {
            var _this   = $(this);
            var _parent = $(this).closest('.js_main_card_sec');
            _parent.find('.js_panel_title').trigger('click');
        });

        $('.js_reopen_card').click(function() {
            var _this   = $(this);
            var _parent = $(this).closest('.js_main_card_sec');
            _parent.find('.js_panel_title').trigger('click');
        });

        $('.js_main_card_sec').each(function(i) {
            var _swiper = new Swiper('.js_applicant_card_swiper_' + i, {
                slidesPerView:2,
                spaceBetween :18,
                navigation   :{
                    nextEl:'.js_applicant_card_swiper_next_' + i,
                    prevEl:'.js_applicant_card_swiper_prev_' + i
                }
            });
            $('.js_applicant_card_swiper_' + i).data('swiper', _swiper);
        });
    });
</script>
</html>
