<!DOCTYPE html>
<html lang="en">
<head>
    <title>Job Information</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
    {{>header_assets select2=true}}
</head>
<body class="job_info_pg">
{{>header}}
<div class="profile_sec">
    <div class="container">
        <div class="job_detail_sec">
            <div class="row">
                <div class="col-md-9">
                    <div class="job_card">
                        <div class="job_sec">
                            <div class="job_card_title">Front end Developer</div>
                            <div class="company_logo right">
                                Squarespace
                            </div>
                            <div class="job_tags">
                                <div class="row">
                                    <div class="col-md-2 col-xs-6">
                                        <div class="tags">
                                            <span class="fa fa-dollar"></span>
                                            2000 - 4000
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-xs-6">
                                        <div class="tags">
                                            <span class="fa fa-calendar"></span>
                                            2 days ago
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-xs-6">
                                        <div class="tags ">
                                            <span class="fa fa-map-marker"></span>
                                            Krakow, PL
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-xs-6">
                                        <div class="tags">
                                            <span class="fa fa-tree"></span>
                                            Remote
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-xs-12">
                                        <div class="post_tag">
                                            Frontend
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="work_sec">
                            <div class="row row_c">
                                <div class="col-md-4 col_bordered">
                                    <div class="option">type:
                                        <span class="option_val">Internship</span>
                                    </div>
                                </div>
                                <div class="col-md-4 col_bordered">
                                    <div class="option">
                                        Workweek:
                                        <span class="option_val">40 hours</span>
                                    </div>
                                </div>
                                <div class="col-md-4 col_bordered">
                                    <div class="option">
                                        Holiday:
                                        <span class="option_val">20 days</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="job_desc">
                            <div class="desc_details">
                                <div class="about_sec">
                                    <div class="desc_title">
                                        About the work
                                    </div>
                                    <div class="desc">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut
                                        labore et dolore magna aliqua. At elementum eu facilisis sed odio morbi. Auctor
                                        eu
                                        augue
                                        ut
                                        lectus. Lacus vestibulum sed arcu non. Leo in vitae turpis massa sed elementum
                                        tempus
                                        egestas. Vitae congue eu.
                                    </div>
                                </div>
                                <div class="requirement_sec">
                                    <div class="desc_title">
                                        Requirements
                                    </div>
                                    <div class="desc">
                                        <ul class="requirement_list">
                                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</li>
                                            <li>ed do eiusmod tempor</li>
                                            <li>incididunt ut labore et dolore magna aliquaelementum eu facilisis sed
                                            </li>
                                            <li>odio morbi. Auctor eu augue ut lectus. Lacus vestibulum sed arcu non.
                                                Leo in
                                                vitae
                                                turpis massa sed elementum tempus egestas. Vitae congue eu.
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tech_details">
                            <div class="tech_sec">
                                <div class="desc_title">
                                    Technologies
                                </div>
                                <div class="desc">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-md-6 col-xs-6">
                                                    <div class="tech_name">Angular 2</div>
                                                </div>
                                                <div class="col-md-6 col-xs-6">
                                                    <div class="filled_bar"></div>
                                                    <div class="filled_bar"></div>
                                                    <div class="filled_bar"></div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-md-6 col-xs-6">
                                                    <div class="tech_name">Css/CSS3</div>
                                                </div>
                                                <div class="col-md-6 col-xs-6">
                                                    <div class="filled_bar"></div>
                                                    <div class="filled_bar"></div>
                                                    <div class="filled_bar"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-md-6 col-xs-6">
                                                    <div class="tech_name">Html/html5</div>
                                                </div>
                                                <div class="col-md-6 col-xs-6">
                                                    <div class="empty_bar"></div>
                                                    <div class="empty_bar"></div>
                                                    <div class="filled_bar"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="about_company_card">
                        <div class="company_desc">
                            <div class="about_sec">
                                <div class="desc_title">
                                    About Company
                                </div>
                                <div class="desc">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut
                                    labore et dolore magna aliqua. At elementum eu facilisis sed odio morbi. Auctor eu
                                    augue
                                    ut
                                    lectus. Lacus vestibulum sed arcu non. Leo in vitae turpis massa sed elementum
                                    tempus
                                    egestas. Vitae congue eu.
                                </div>
                            </div>
                        </div>

                        <div class="about_work_sec">
                            <div class="row row_c">
                                <div class="col-md-6 col_bordered">
                                    <div class="option">Company Size:
                                        <span class="option_val">50-100</span>
                                    </div>
                                </div>
                                <div class="col-md-6 col_bordered">
                                    <div class="option">
                                        Industry:
                                        <span class="option_val">Internet</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="company_desc">
                            <div class="about_sec">
                                <div class="desc_title">
                                    Benefits
                                </div>
                                <div class="desc">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <span class="fa fa-check-circle"></span>Free Lunch
                                        </div>
                                        <div class="col-md-6">
                                            <span class="fa fa-check-circle"></span>Private health care
                                        </div>
                                        <div class="col-md-6">
                                            <span class="fa fa-check-circle"></span>Free snacks
                                        </div>
                                        <div class="col-md-6">
                                            <span class="fa fa-check-circle"></span>Macbook Pro
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="apply_sec">
                        <button type="submit"
                                class="btn btn-apply">
                            Apply for this position now
                        </button>
                        <div class="link_txt">
                            or <br/>
                            copy and apply by email
                        </div>
                        <div class="link_sec">
                            <a class="link" href="">career@squarespace.io</a>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-xs-4">
                                <div class="communication_tags">
                                    Share
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-4">
                                <div class="communication_tags">
                                    Tweet
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-4">
                                <div class="communication_tags">
                                    Save
                                </div>
                            </div>
                        </div>
                        <div class="tags_sec">
                            <div class="tech_tg">Web development</div>
                            <div class="tech_tg">Angular</div>
                        </div>
                        <div class="views_sec">
                            Pageviews: 49
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="similar_sec">
            <div class="title">
                Similar positions
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="similar_post_card">
                        <div class="row">
                            <div class="col-md-3 col-xs-3">
                                <div class="profile_img_wrap">
                                    <img src="https://via.placeholder.com/60" class="img_sec">
                                </div>
                            </div>
                            <div class="col-md-9 col-xs-9">
                                <div class="post_title">Product Designer</div>
                                <div class="company">Google</div>
                                <div class="place"><span class="fa fa-map-marker"></span>Los Angeles, US</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="similar_post_card">
                        <div class="row">
                            <div class="col-md-3 col-xs-3">
                                <div class="profile_img_wrap">
                                    <img src="https://via.placeholder.com/60" class="img_sec">
                                </div>
                            </div>
                            <div class="col-md-9 col-xs-9">
                                <div class="post_title">Product Designer</div>
                                <div class="company">Google</div>
                                <div class="place"><span class="fa fa-map-marker"></span>Los Angeles, US</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="similar_post_card">
                        <div class="row">
                            <div class="col-md-3 col-xs-3">
                                <div class="profile_img_wrap">
                                    <img src="https://via.placeholder.com/60" class="img_sec">
                                </div>
                            </div>
                            <div class="col-md-9 col-xs-9">
                                <div class="post_title">Product Designer</div>
                                <div class="company">Google</div>
                                <div class="place"><span class="fa fa-map-marker"></span>Los Angeles, US</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{>footer}}
</body>
<script type="application/javascript">
    $(function() {

    });
</script>
</html>
