<!DOCTYPE html>
<html lang="en">
<head>
    <title>Job Information</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
    {{>header_assets select2=true}}
</head>
<body class="job_info_pg">
{{>header}}
<section class="common_main_sec">
    {{>common_hero_sec}}
    <div class="container">
        <div class="job_detail_sec">
            <div class="row">
                <div class="col-md-9">
                    <div class="common_form_sec">
                        <div class="job_card">
                            <div class="job_sec">
                                <div class="job_card_title">Front end Developer</div>
                                <div class="company_logo">
                                    Squarespace
                                </div>
                                <div class="job_tags">
                                    <div class="row">
                                        <div class="col-md-9 col-xs-12">
                                            <div class="tags_wrap spl_wrap">
                                                <div class="tags">
                                                    <img src="/img/icons/dollar.svg" class="dollar_icons">
                                                    2000 - 4000
                                                </div>
                                                <div class="tags">
                                                    <img src="/img/icons/calendar.svg" class="cal_icons">
                                                    2 days ago
                                                </div>
                                                <div class="tags ">
                                                    <img src="/img/icons/location.svg" class="loc_icons">
                                                    Krakow, PL
                                                </div>
                                                <div class="tags">
                                                    <img src="/img/icons/place.svg" class="place_icons">
                                                    Remote
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-xs-12">
                                            <div class="tags_wrap">
                                                <div class=" tags btn_wrap">
                                                    <a href="#" class="post_tag">
                                                        Frontend
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="work_sec">
                                <div class="row row_c">
                                    <div class="col-md-4 col_bordered">
                                        <div class="option">TYPE:
                                            <span class="option_val">Internship</span>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col_bordered">
                                        <div class="option">
                                            WORKWEEK:
                                            <span class="option_val">40 hours</span>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col_bordered">
                                        <div class="option">
                                            HOLIDAY:
                                            <span class="option_val">20 days</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="job_desc">
                                <div class="desc_details">
                                    <div class="about_sec">
                                        <div class="desc_title">
                                            About the work
                                        </div>
                                        <div class="desc">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                            tempor
                                            incididunt ut
                                            labore et dolore magna aliqua. At elementum eu facilisis sed odio morbi.
                                            Auctor
                                            eu
                                            augue
                                            ut
                                            lectus. Lacus vestibulum sed arcu non. Leo in vitae turpis massa sed
                                            elementum
                                            tempus
                                            egestas. Vitae congue eu.
                                        </div>
                                    </div>
                                    <div class="requirement_sec">
                                        <div class="desc_title">
                                            Requirements
                                        </div>
                                        <div class="desc">
                                            <ul class="requirement_list">
                                                <li class="requirement_line">Lorem ipsum dolor sit amet, consectetur
                                                    adipiscing elit,
                                                </li>
                                                <li class="requirement_line">ed do eiusmod tempor</li>
                                                <li class="requirement_line">incididunt ut labore et dolore magna
                                                    aliquaelementum eu facilisis
                                                    sed
                                                </li>
                                                <li class="requirement_line">odio morbi. Auctor eu augue ut lectus.
                                                    Lacus vestibulum sed arcu
                                                    non.
                                                    Leo in
                                                    vitae
                                                    turpis massa sed elementum tempus egestas. Vitae congue eu.
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tech_details">
                                <div class="tech_sec">
                                    <div class="desc_title">
                                        Technologies
                                    </div>
                                    <div class="desc">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-6 col-xs-6">
                                                        <div class="tech_name">Angular 2</div>
                                                    </div>
                                                    <div class="col-md-6 col-xs-6">
                                                        <div class="filled_bar"></div>
                                                        <div class="filled_bar"></div>
                                                        <div class="filled_bar"></div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-md-6">
                                                <div class="css_wrap">
                                                    <div class="row">
                                                        <div class="col-md-6 col-xs-6">
                                                            <div class="tech_name">Css/CSS3</div>
                                                        </div>
                                                        <div class="col-md-6 col-xs-6">
                                                            <div class="filled_bar"></div>
                                                            <div class="filled_bar"></div>
                                                            <div class="filled_bar"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-6 col-xs-6">
                                                        <div class="tech_name">Html/html5</div>
                                                    </div>
                                                    <div class="col-md-6 col-xs-6">
                                                        <div class="empty_bar"></div>
                                                        <div class="empty_bar"></div>
                                                        <div class="filled_bar"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="about_company_card">
                            <div class="company_desc">
                                <div class="about_sec">
                                    <div class="desc_title">
                                        About Company
                                    </div>
                                    <div class="desc">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut
                                        labore et dolore arcu non. Leo in vitae turpis massa sed elementum
                                        tempus
                                        egestas. Vitae congue eu.
                                    </div>
                                </div>
                            </div>

                            <div class="about_work_sec">
                                <div class="row row_c">
                                    <div class="col-md-6 col_bordered">
                                        <div class="option">COMPANY SIZE:
                                            <span class="option_val">50-100</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col_bordered">
                                        <div class="option">
                                            INDUSTRY:
                                            <span class="option_val">Internet</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="company_desc">
                                <div class="about_sec">
                                    <div class="desc_title">
                                        Benefits
                                    </div>
                                    <div class="desc benefits_desc">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="circle_wrap">
                                                    <div class="circle_tick">
                                                        <img src="/img/icons/tick.svg" class="icons tick">
                                                    </div>
                                                    <div class="title">Free Lunch</div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="spl_wrap">
                                                    <div class="circle_wrap">
                                                        <div class="circle_tick">
                                                            <img src="/img/icons/tick.svg" class="icons tick">
                                                        </div>
                                                        <div class="title">Private health care</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="circle_wrap ">
                                                    <div class="circle_tick">
                                                        <img src="/img/icons/tick.svg" class="icons tick">
                                                    </div>
                                                    <div class="title">Free snacks</div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="spl_wrap">
                                                    <div class="circle_wrap">
                                                        <div class="circle_tick">
                                                            <img src="/img/icons/tick.svg" class="icons tick">
                                                        </div>
                                                        <div class="title">Macbook Pro</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="apply_sec">
                        <button type="submit"
                                class="btn btn-apply">
                            Apply for this position now
                        </button>
                        <div class="links_part">
                            <div class="link_txt">
                                or <br/>
                                copy and apply by email
                            </div>
                            <div class="link_sec">
                                <a class="link" href="">career@squarespace.io</a>
                            </div>
                        </div>

                        <div class="social_link_wrap">
                            <a href="#" class="social_link">
                                <img src="/img/icons/fb.svg">
                                <span>Share</span>
                            </a>
                            <a href="#" class="social_link">
                                <img src="/img/icons/tw.svg"> Tweet
                            </a>
                            <a href="#" class="social_link">
                                <img src="/img/icons/save.svg"> Save
                            </a>
                        </div>
                        <div class="tags_sec">
                            <a href="#" class="tech_tg">Web development</a>
                            <a href="#" class="tech_tg">Angular</a>
                        </div>
                        <a href="#">
                            <div class="views_sec">
                                Pageviews: 49
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </div>
        <div class="similar_sec">
            <div class="title">
                Similar positions
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="similar_post_card">
                        <div class="row">
                            <div class="col-md-3 col-xs-3">
                                <div class="profile_img_wrap">
                                    <img src="https://via.placeholder.com/60" class="img_sec">
                                </div>
                            </div>
                            <div class="col-md-9 col-xs-9">
                                <div class="post_title">Product Designer</div>
                                <div class="company">Google</div>
                                <div class="place"><img src="/img/icons/location.svg" class="icons"> Los Angeles, US
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="similar_post_card">
                        <div class="row">
                            <div class="col-md-3 col-xs-3">
                                <div class="profile_img_wrap">
                                    <img src="https://via.placeholder.com/60" class="img_sec">
                                </div>
                            </div>
                            <div class="col-md-9 col-xs-9">
                                <div class="post_title">Product Designer</div>
                                <div class="company">Google</div>
                                <div class="place"><img src="/img/icons/location.svg" class="icons"> Los Angeles, US
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="similar_post_card">
                        <div class="row">
                            <div class="col-md-3 col-xs-3">
                                <div class="profile_img_wrap">
                                    <img src="https://via.placeholder.com/60" class="img_sec">
                                </div>
                            </div>
                            <div class="col-md-9 col-xs-9">
                                <div class="post_title">Product Designer</div>
                                <div class="company">Google</div>
                                <div class="place"><img src="/img/icons/location.svg" class="icons"> Los Angeles, US
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="back_sec">

    </div>
</section>
{{>footer bottom_form=true}}
</body>
<script type="application/javascript">
    $(function() {

    });
</script>
</html>
