<!DOCTYPE html>
<html lang="en">
<head>
    <title>Search</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{>header_assets}}
</head>
<body class="job_applicant_pg">
{{>header}}
<section class="hero_sec">

</section>
<section class="main_cont_sec">
    <div class="container">
        <div class="row">
            <div class="col-md-3">

            </div>
            <div class="col-md-9">

            </div>
        </div>
    </div>
</section>
{{>footer}}
</body>
<script type="application/javascript">
    $(function() {
        $('.js_select2').select2({});
    });
</script>
</html>
