<!DOCTYPE html>
<html lang="en">
<head>
    <title>Pixlcoders</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
    {{>header_assets select2=true}}
</head>
<body class="login_pg signup_pg">
{{>header}}
<div class="cont_sec">
    <section class="common_hero_sec">
        <div class="container">

        </div>
    </section>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="login_form_sec">
                    <div class="signup_wrap">
                        <h1 class="title text-center">Applicant Login</h1>
                        <form class="" id="jsLoginForm">
                            <div class="form-group pixl_form_group">
                                <label class="control-label">Email</label>
                                <div class="box_sec">
                                    <input type="text" class="form-control required js_email"
                                           placeholder="Your email address">
                                </div>
                            </div>
                            <div class="form-group pixl_form_group">
                                <label class="control-label">Password</label>
                                <div class="box_sec">
                                    <input type="text" class="form-control required js_password"
                                           placeholder="Enter password">
                                </div>
                            </div>
                            <a href="/forgot/password" class="cta_link">I forgot password</a>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-8">
                                        <button type="submit" class="btn btn_big btn_blue">LOGIN</button>
                                    </div>
                                    <div class="col-md-4">
                                        <a href="/recruiter-login" class="other_login_link">Recruiter Login</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{>footer_assets}}
{{>footer swiper=true select2=true cropper=true}}
</body>
<script type="application/javascript">
    $(function() {
        LoginHandler.init();
    });
</script>
</html>
