<!DOCTYPE html>
<html lang="en">
<head>
    <title>Account Notification</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{>header_assets swiper=true  select2=true}}
</head>
<body class="profile_pg job_recruiter_pg">
{{>header}}
<section class="common_main_sec">
    {{>common_hero_sec}}
    <div class="container">
        {{>recruiter_tab_link active="notification"}}
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="common_form_sec">
                    <div class="form_wrap">
                        <div class="details_sec cards_wrap js_cards_wrap">

                            <div class="select_wrap">
                                <div class="checkbox_sec">
                                    <label class="check_box  select_all_check_box">
                                        <input type="checkbox" class="js_check_all_notifications" value="{{this.id}}">
                                        <span class="checkmark"></span>
                                        Select All
                                    </label>
                                    <a href="" class="btn btn-apply btn_mark btn_mark_read js_read_btn hide"> Mark as
                                        read</a>
                                </div>
                            </div>
                            <div class="notify_list_wrap">
                                {{>client/notification_card_row data=data.result}}
                            </div>
                            <div class="bottom_cta_wrap">
                                <a class="cta_load_more_link js_load_more_btn {{#ifCond data.pages '>' '1'}}
                                {{else}}hide{{/ifCond}}">
                                    Show more notifications
                                    <img src="/img/icons/arrow-down.svg" class="fa" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{>footer swiper=true select2=true}}
</body>
<script type="application/javascript">
    $(function() {

        NotificationHandler.init();

    });
</script>
</html>
