<!DOCTYPE html>
<html lang="en">
<head>
    <title>pixljobs</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
    {{>header_assets}}
</head>
<body class="view_user_profile_pg med_content_pg">
<div class="hero_sec">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3">
                <form class="form-horizontal">
                    <div class="title_wrap">
                        <div class="title text-center">Post job</div>
                        <div class="sub_title text-center"> Additional Info (2/3)</div>
                    </div>
                    <div class="workline"></div>
                    <div class="form-group">
                        <label class="control-label">Workweek <span>(hours)</span></label>
                        <div class="col-sm-12">
                            <input type="email" class="form-control"
                                   placeholder="Type in Numbers Eg: 40 Hrs">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Holidays <span>(days - per year)</span></label>
                        <div class="col-sm-12">
                            <input type="password" class="form-control" placeholder="Type in Numbers Eg: 20 days">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Description <span>(max 320 chars)</span></label>
                        <div class="col-sm-12">
                            <input type="password" class="form-control" placeholder="Type here">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Technologies</label>
                        <div class="col-sm-12">
                            <input type="password" class="form-control" placeholder="pick one or type it">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{>footer_assets}}
</body>
<script type="application/javascript">
    $(function() {
        LoginHandler.init();
    });
</script>
</html>
