<!DOCTYPE html>
<html lang="en">
<head>
    <title>Search</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{>header_assets select2=true}}
</head>
<body class="search_pg">
{{>header}}
<section class="hero_sec">
    <div class="container">
        <div class="title">
            Search for your dream job
        </div>
        <div class="search_input_wrap">
            <input type="text" class="form-control search_input">
            <span class="fa fa-search"></span>
        </div>
        <div class="job_found_txt">
            44 job offers found
        </div>
    </div>
</section>
<section class="main_cont_sec">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="cards_wrap">
                    <div class="card_sec new_card">
                        <div class="new_sec">
                            <span class="fa fa-certificate"></span>
                            <span class="new_txt">NEW</span>
                        </div>
                        <img src="https://via.placeholder.com/36" class="c_logo">
                        <div class="row">
                            <div class="col-md-6">
                                <div>
                                    <span class="title">Front end developer</span>
                                    <span class="sub_title">Squarespace</span>
                                </div>
                                <div class="tags_wrap">
                                    <span>Web Development</span>
                                    <span>UX</span>
                                    <span>Angular</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="cta_wrap">
                                    <a class="btn btn_blue">FRONTEND</a>
                                </div>
                                <div class="job_details_wrap">
                                    <div class="info_sec">
                                        <span class="fa fa-clock-o icon_sec"></span>
                                        <span class="txt_sec">2 days ago</span>
                                    </div>
                                    <div class="info_sec">
                                        <span class="txt_sec">0 — 2000$</span>
                                    </div>
                                    <div class="info_sec">
                                        <span class="fa fa-map-marker icon_sec"></span>
                                        <span class="txt_sec">Krakow, Poland</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card_sec new_card">
                        <div class="new_sec">
                            <span class="fa fa-certificate"></span>
                            <span class="new_txt">NEW</span>
                        </div>
                        <img src="https://via.placeholder.com/36" class="c_logo">
                        <div class="row">
                            <div class="col-md-6">
                                <div>
                                    <span class="title">Front end developer</span>
                                    <span class="sub_title">Squarespace</span>
                                </div>
                                <div class="tags_wrap">
                                    <span>Web Development</span>
                                    <span>UX</span>
                                    <span>Angular</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="cta_wrap">
                                    <a class="btn btn_blue">FRONTEND</a>
                                </div>
                                <div class="job_details_wrap">
                                    <div class="info_sec">
                                        <span class="fa fa-clock-o icon_sec"></span>
                                        <span class="txt_sec">2 days ago</span>
                                    </div>
                                    <div class="info_sec">
                                        <span class="txt_sec">0 — 2000$</span>
                                    </div>
                                    <div class="info_sec">
                                        <span class="fa fa-map-marker icon_sec"></span>
                                        <span class="txt_sec">Krakow, Poland</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card_sec">
                        <div class="new_sec">
                            <span class="fa fa-certificate"></span>
                            <span class="new_txt">NEW</span>
                        </div>
                        <img src="https://via.placeholder.com/36" class="c_logo">
                        <div class="row">
                            <div class="col-md-6">
                                <div>
                                    <span class="title">Front end developer</span>
                                    <span class="sub_title">Squarespace</span>
                                </div>
                                <div class="tags_wrap">
                                    <span>Web Development</span>
                                    <span>UX</span>
                                    <span>Angular</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="cta_wrap">
                                    <a class="btn btn_blue">FRONTEND</a>
                                </div>
                                <div class="job_details_wrap">
                                    <div class="info_sec">
                                        <span class="fa fa-clock-o icon_sec"></span>
                                        <span class="txt_sec">2 days ago</span>
                                    </div>
                                    <div class="info_sec">
                                        <span class="txt_sec">0 — 2000$</span>
                                    </div>
                                    <div class="info_sec">
                                        <span class="fa fa-map-marker icon_sec"></span>
                                        <span class="txt_sec">Krakow, Poland</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card_sec">
                        <div class="new_sec">
                            <span class="fa fa-certificate"></span>
                            <span class="new_txt">NEW</span>
                        </div>
                        <img src="https://via.placeholder.com/36" class="c_logo">
                        <div class="row">
                            <div class="col-md-6">
                                <div>
                                    <span class="title">Front end developer</span>
                                    <span class="sub_title">Squarespace</span>
                                </div>
                                <div class="tags_wrap">
                                    <span>Web Development</span>
                                    <span>UX</span>
                                    <span>Angular</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="cta_wrap">
                                    <a class="btn btn_blue">FRONTEND</a>
                                </div>
                                <div class="job_details_wrap">
                                    <div class="info_sec">
                                        <span class="fa fa-clock-o icon_sec"></span>
                                        <span class="txt_sec">2 days ago</span>
                                    </div>
                                    <div class="info_sec">
                                        <span class="txt_sec">0 — 2000$</span>
                                    </div>
                                    <div class="info_sec">
                                        <span class="fa fa-map-marker icon_sec"></span>
                                        <span class="txt_sec">Krakow, Poland</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card_sec">
                        <div class="new_sec">
                            <span class="fa fa-certificate"></span>
                            <span class="new_txt">NEW</span>
                        </div>
                        <img src="https://via.placeholder.com/36" class="c_logo">
                        <div class="row">
                            <div class="col-md-6">
                                <div>
                                    <span class="title">Front end developer</span>
                                    <span class="sub_title">Squarespace</span>
                                </div>
                                <div class="tags_wrap">
                                    <span>Web Development</span>
                                    <span>UX</span>
                                    <span>Angular</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="cta_wrap">
                                    <a class="btn btn_blue">FRONTEND</a>
                                </div>
                                <div class="job_details_wrap">
                                    <div class="info_sec">
                                        <span class="fa fa-clock-o icon_sec"></span>
                                        <span class="txt_sec">2 days ago</span>
                                    </div>
                                    <div class="info_sec">
                                        <span class="txt_sec">0 — 2000$</span>
                                    </div>
                                    <div class="info_sec">
                                        <span class="fa fa-map-marker icon_sec"></span>
                                        <span class="txt_sec">Krakow, Poland</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card_sec">
                        <div class="new_sec">
                            <span class="fa fa-certificate"></span>
                            <span class="new_txt">NEW</span>
                        </div>
                        <img src="https://via.placeholder.com/36" class="c_logo">
                        <div class="row">
                            <div class="col-md-6">
                                <div>
                                    <span class="title">Front end developer</span>
                                    <span class="sub_title">Squarespace</span>
                                </div>
                                <div class="tags_wrap">
                                    <span>Web Development</span>
                                    <span>UX</span>
                                    <span>Angular</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="cta_wrap">
                                    <a class="btn btn_blue">FRONTEND</a>
                                </div>
                                <div class="job_details_wrap">
                                    <div class="info_sec">
                                        <span class="fa fa-clock-o icon_sec"></span>
                                        <span class="txt_sec">2 days ago</span>
                                    </div>
                                    <div class="info_sec">
                                        <span class="txt_sec">0 — 2000$</span>
                                    </div>
                                    <div class="info_sec">
                                        <span class="fa fa-map-marker icon_sec"></span>
                                        <span class="txt_sec">Krakow, Poland</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bottom_cta_wrap">
                    <a class="cta_load_more_link">
                        Show 10 more job offers
                        <span class="fa fa-angle-down"></span>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="filters_wrap">
                    <div class="filter_sec">
                        <label class="box_label">
                            Job category
                        </label>
                        <div class="box_sec">
                            <select class="form-control js_select2">
                                <option value="">Choose category</option>
                            </select>
                        </div>
                    </div>
                    <div class="filter_sec">
                        <div class="row">
                            <div class="col-md-6">
                                <label class="box_label">
                                    Location
                                </label>
                            </div>
                            <div class="col-md-6 text-right">
                                <label class="check_box right">
                                    Remote
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                        <div class="box_sec">
                            <input type="text" class="form-control" placeholder="City, Country, Street">
                            <div class="icon_wrap">
                                <span class="fa fa-map-marker icon_sec"></span>
                            </div>
                        </div>
                    </div>
                    <div class="filter_sec">
                        <label class="box_label">
                            Job Type
                        </label>
                        <div class="box_sec">
                            <ul class="list_sec">
                                <li class="active">
                                    <div class="type_name">Full time</div>
                                    <div class="type_number">16</div>
                                    <label class="check_box">
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                                <li class="active">
                                    <div class="type_name">Part time</div>
                                    <div class="type_number">16</div>
                                    <label class="check_box">
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                                <li class="active">
                                    <div class="type_name">Contract</div>
                                    <div class="type_number">16</div>
                                    <label class="check_box">
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                                <li>
                                    <div class="type_name">Freelance</div>
                                    <div class="type_number">16</div>
                                    <label class="check_box">
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                                <li>
                                    <div class="type_name">Internship</div>
                                    <div class="type_number">16</div>
                                    <label class="check_box">
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="filter_sec">
                        <label class="box_label">
                            Salary
                        </label>
                        <div class="box_sec">
                            <ul class="list_sec">
                                <li class="active">
                                    <div class="type_name">0 - 2000</div>
                                    <div class="type_number">16</div>
                                    <label class="check_box">
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                                <li class="active">
                                    <div class="type_name">2000 - 5000</div>
                                    <div class="type_number">16</div>
                                    <label class="check_box">
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                                <li class="active">
                                    <div class="type_name">5000 - 8000</div>
                                    <div class="type_number">16</div>
                                    <label class="check_box">
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                                <li>
                                    <div class="type_name">8000 - 10000</div>
                                    <div class="type_number">16</div>
                                    <label class="check_box">
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                                <li class="active">
                                    <div class="type_name">10000+</div>
                                    <div class="type_number">16</div>
                                    <label class="check_box">
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{>footer bottom_form=true  select2=true}}
</body>
<script type="application/javascript">
    $(function() {
        $('.js_select2').select2({});
    });
</script>
</html>
