<!DOCTYPE html>
<html lang="en">
<head>
    <title>Pixlcoders</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{>header_assets swiper=true  select2=true cropper=true}}
</head>
<body class="signup_pg">
{{>header}}
<section class="common_main_sec">
    <section class="common_hero_sec">
        <div class="container">

        </div>
    </section>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="common_form_sec">
                    <div class="signup_wrap">
                        <form class="" id="jsSignUpRecruitForm">
                            <div class="row">
                                <div class="col-xs-4 col-sm-6 col-md-6">
                                    <div class="form-group pixl_form_group">
                                        <div class="signup_title_wrap">
                                            <div class="title">Signup to </div>
                                            <div class="sub_title">Get started!</div>
                                        </div>
                                    </div>
                                    <div class="role_wrap">
                                        <div class="form-group pixl_form_group">
                                            <label for="" class="control-label">Select a role</label>
                                            <div class="role_row">
                                                <a class="btn signup-recruit role active" type="submit"
                                                   data-target="/signup-recruiter"><i class="fa fa-user"
                                                                                      aria-hidden="true"></i>Recruiter</a>
                                                <a class="btn signup-applicant role " type="submit"
                                                   data-target="/signup-applicant"><i class="fa fa-user"
                                                                                  aria-hidden="true"></i>Applicant</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-8 col-sm-6 col-md-6 hidden-xs">
                                    <div class="upload_photo_wrap js_profile_img_wrap"
                                         data-target="#profileImageCropperModal"
                                         data-toggle="modal" data-backdrop="static">
                                        <img src="" alt="" class="img_sec js_img_pre_holder">
                                        <div class="icon_wrap">
                                            <i class="fa fa-camera"></i>
                                            <div class="upload_txt">Upload Company</div>
                                            <div class="upload_txt">Logo</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 visible-xs js_profile_img_wrap"
                                     data-target="#profileImageCropperModal"
                                     data-toggle="modal" data-backdrop="static">
                                    <div class="upload_photo_wrap">
                                        <img src="" alt="" class="img_sec js_img_pre_holder">
                                        <div class="icon_wrap">
                                            <i class="fa fa-camera"></i>
                                            <div class="upload_txt">Upload Company</div>
                                            <div class="upload_txt">Logo</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group pixl_form_group">
                                        <label class="control-label">Full Name</label>
                                        <div class="box_sec">
                                            <input type="text" class="form-control js_name required"
                                                   autocomplete="nope"
                                                   placeholder="Enter your first name and last name">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group pixl_form_group">
                                        <label class="control-label">Designation</label>
                                        <div class="box_sec">
                                            <input type="text" class="form-control js_designation required"
                                                   autocomplete="nope" placeholder="Mention about your role">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group pixl_form_group">
                                        <label class="control-label">Email ID</label><a href=""
                                                                                        class="verify_link">VERIFY</a>
                                        <div class="box_sec">
                                            <input type="text" class="form-control required js_email"
                                                   autocomplete="nope" placeholder="Your current Email ID">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group pixl_form_group">
                                        <label class="control-label">Password</label>
                                        <div class="box_sec">
                                            <input type="text" class="form-control required js_password"
                                                   autocomplete="nope" placeholder="Enter Password">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group pixl_form_group">
                                        <label class="control-label">Company Name</label>
                                        <div class="box_sec">
                                            <input type="text" class="form-control required js_company_name"
                                                   autocomplete="nope" placeholder="Enter your company's name">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group pixl_form_group">
                                        <label class="control-label">Industry</label>
                                        <div class="box_sec">
                                            <select class="form-control required js_industry js_select2">
                                                <option value="">Select a domain</option>
                                                <option value="Front End">Front End</option>
                                                <option value="Back End">Back End</option>
                                                <option value="Full Stack">Full Stack</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group pixl_form_group">
                                        <label class="control-label">Company Size</label>
                                        <div class="box_sec">
                                            <select class="form-control required js_company_size js_select2">
                                                <option value="select">Select Range</option>
                                                <option value="5-10">5-10</option>
                                                <option value="11-20">11-20</option>
                                                <option value="30-50">30-50</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group pixl_form_group">
                                        <label class="control-label">Gender</label>
                                        <div class="box_sec">
                                            <select name="exp_select"
                                                    class="form-control required js_gender js_select2">
                                                <option value="male">Male</option>
                                                <option value="female">Female</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group pixl_form_group">
                                        <label class="control-label">Company URL</label>
                                        <div class="box_sec">
                                            <input type="text" class="form-control required js_company_url"
                                                   autocomplete="nope" placeholder="Your company's official website">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group pixl_form_group">
                                        <label class="control-label">About Company</label><span class="gl_input_text">in 200 words or less</span>
                                        <div class="box_sec">
                                        <textarea rows="2" class="form-control text_area required js_about_company"
                                                  placeholder="Few words describing your company’s work culture, domain expertise, etc."
                                                  autocomplete="nope"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group pixl_form_group">
                                        <label class="control-label">Company Benefits</label>
                                        <div class="box_sec">
                                            <div id="textarea" class="form-control text_area  js_company_benefit">
                                                <input type="text">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cta_wrap">
                                <button class="btn btn_big btn_preview">PREVIEW</button>
                                <button class="btn btn_big btn_blue">
                                    PROCEED
                                    <span class="fa fa-arrow-right right_icon"></span>
                                </button>
                            </div>
                            <input type="hidden" class="js_applicant_id" value="{{data.id}}">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{>popup/profile_photo_upload}}
{{>footer swiper=true select2=true cropper=true}}
</body>
<script type="application/javascript">

    $(function() {
        RecruiterHandler.init();
        RecruiterHandler.initView();
    });

    $('#textarea input').on('keyup', function(e) {
        var key = e.which;
        if(key == 188) {
            $('<button/>').text($(this).val().slice(0, -1)).insertBefore($(this));
            $(this).val('').focus();
        }
        ;
    });

    $('#textarea').on('click', 'button', function(e) {
        e.preventDefault();
        $(this).remove();
        return false;
    });

    $('.signup-recruit').on('click', function(event) {
        event.preventDefault();
        var url = $(this).data('target');
        location.replace(url);
    });

    $('.signup-applicant').on('click', function(event) {
        event.preventDefault();
        var url = $(this).data('target');
        location.replace(url);
    });
</script>
</html>
