<!DOCTYPE html>
<html lang="en">
<head>
    <title>Pixlcoders</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{>header_assets swiper=true  select2=true}}
</head>
<body class="signup_pg">
{{>header}}
<section class="common_main_sec">
    <section class="common_hero_sec">
        <div class="container">

        </div>
    </section>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="common_form_sec">
                    <div class="signup_wrap">
                        <form class="" id="jsSignUpApplicantForm">
                            <div class="row">
                                <div class="col-xs-4 col-sm-6 col-md-6">
                                    <div class="form-group pixl_form_group">
                                        <div class="signup_title_wrap">
                                            <div class="title">Signup to </div>
                                            <div class="sub_title">Get started!</div>
                                        </div>
                                    </div>
                                    <div class="role_wrap">
                                        <div class="form-group pixl_form_group">
                                            <label for="" class="control-label">Select a role</label>
                                            <div class="role_row">
                                                <a class="btn signup-recruit role" type="submit"
                                                   data-target="/signup-recruiter"><i class="fa fa-user"
                                                                                      aria-hidden="true"></i>Recruiter</a>
                                                <a class="btn signup-applicant role active" type="submit"
                                                   data-target="/signup-fresh"><i class="fa fa-user"
                                                                                  aria-hidden="true"></i>Applicant</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-8 col-sm-6 col-md-6 hidden-xs">
                                    <div class="upload_photo_wrap">
                                        <img src="" alt="" class="img_sec">
                                        <div class="icon_wrap">
                                            <i class="fa fa-camera"></i>
                                            <div class="upload_txt">Upload Photo</div>
                                        </div>
                                        <input type="file" class="input_file">
                                    </div>
                                </div>
                                <div class="col-xs-12 visible-xs">
                                    <div class="upload_photo_wrap">
                                        <img src="" alt="" class="img_sec">
                                        <div class="icon_wrap">
                                            <i class="fa fa-camera"></i>
                                            <div class="upload_txt">Upload Photo</div>
                                        </div>
                                        <input type="file" class="input_file">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group pixl_form_group">
                                        <label class="control-label">Full Name</label>
                                        <div class="box_sec">
                                            <input type="text" class="form-control required js_name"
                                                   autocomplete="nope"
                                                   placeholder="Enter your first name and last name">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group pixl_form_group">
                                        <label class="control-label">Experience</label>
                                        <div class="row">
                                            <div class="col-md-6 col-xs-6">
                                                <div class="box_sec">
                                                    <select class="form-control required js_experience">
                                                        <option value="">0 Years</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-xs-6">
                                                <div class="box_sec">
                                                    <select class="form-control required js_experience">
                                                        <option value="">0 Months</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="cta_wrap">
                                <button class="btn btn_big btn_preview">PREVIEW</button>
                                <button class="btn btn_big btn_blue">
                                    PROCEED
                                    <span class="fa fa-arrow-right right_icon"></span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{>footer swiper=true select2=true}}
</body>
<script type="application/javascript">
    $(function() {
        ApplicantSignUpHandler.init();
    });

    $('.signup-recruit').on('click', function(event) {
        event.preventDefault();
        var url = $(this).data('target');
        location.replace(url);
    });

    $('.signup-applicant').on('click', function(event) {
        event.preventDefault();
        var url = $(this).data('target');
        location.replace(url);
    });
</script>
</html>
