<!DOCTYPE html>
<html lang="en">
<head>
    <title>pixljobs</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
    {{>header_assets}}
</head>
<body class="view_user_profile_pg med_content_pg">
<div class="hero_sec">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <form class="" id="">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="signup_wrap">
                                    <div class="title">Signup to </div>
                                    <div class="sub_title">Get started!</div>
                                </div>
                            </div>
                            <div class="role_wrap">
                                <div class="form-group">
                                    <label for="">Select role</label>
                                    <div>
                                        <button class="btn btn-default">Recruiter</button>
                                        <button class="btn btn-default">Applicant</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="profile_img_wrap "
                                 data-toggle="modal" data-backdrop="static">
                                <img class="profile_img" src="">
                                <div class="change_photo">
                                    <i class="fa fa-camera"><span class="txt">Upload Photo</span></i>
                                </div>
                                <img src="" class="hide">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="">Full Name</label>
                                <input type="text" class="form-control"
                                       autocomplete="nope" placeholder="Enter your first name and last name">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="">Experience</label>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <select class="form-control">
                                            <option value="">0 Years</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <select class="form-control">
                                            <option value="">0 Months</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="">Qualification</label>
                                <input type="text" class="form-control"
                                       autocomplete="nope" placeholder="Highest academic qualification">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="">Expected Annual Salary</label>
                                <input type="text" class="form-control"
                                       autocomplete="nope" placeholder="Enter Amt in No.s only">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="">Institution</label>
                                <input type="text" class="form-control"
                                       autocomplete="nope" placeholder="Last academic institution attended">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="">Contact No.</label>
                                <input type="text" class="form-control"
                                       autocomplete="nope" placeholder="Your 10 digit mobile No.">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="">Email ID</label>
                                <input type="text" class="form-control"
                                       autocomplete="nope" placeholder="Your current Email ID">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="">Upload Resume</label>
                                <div class="draggable1 text-center">Drag & drop Document or Upload file</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-md-offset-2 text-center">
                            <div class="form-group">
                                <button class="btn btn-primary">Preview</button>
                            </div>
                        </div>
                        <div class="col-md-4 text-center">
                            <div class="form-group">
                                <button class="btn btn-primary">Proceed</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{>footer_assets}}
</body>
<script type="application/javascript">
    $(function () {

    });
</script>
</html>
