<!DOCTYPE html>
<html lang="en">
<head>
    <title>pixljobs</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
    {{>header_assets select2=true}}
    {{>header}}
</head>
<body class="view_user_profile_pg med_content_pg signup_rec_pg">
<div class="hero_sec">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="signup_wrap">
                    <form class="" id="">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group pixl_form_group">
                                    <div class="signup_title_wrap">
                                        <div class="title">Signup to </div>
                                        <div class="sub_title">Get started!</div>
                                    </div>
                                </div>
                                <div class="role_wrap">
                                    <div class="form-group pixl_form_group">
                                        <label for="" class="control-label">Select role</label>
                                        <div>
                                            <a href="" class="btn btn_wrap active">Recruiter</a>
                                            <a href="" class="btn btn_wrap not_active">Applicant</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="upload_photo_wrap">
                                    <img src="" alt="" class="img_sec">
                                    <div class="icon_wrap">
                                        <i class="fa fa-camera"></i>
                                        <div class="upload_txt">Upload Photo</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group pixl_form_group">
                                    <label class="control-label">Full Name</label>
                                    <input type="text" class="form-control gl_input_box required"
                                           autocomplete="nope" placeholder="Enter your first name and last name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group pixl_form_group">
                                    <label class="control-label">Experience</label>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group pixl_form_group">
                                                <select class="form-control gl_input_box required">
                                                    <option value="">0 Years</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group pixl_form_group">
                                                <select class="form-control gl_input_box required">
                                                    <option value="">0 Months</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group pixl_form_group">
                                    <label class="control-label">Qualification</label>
                                    <input type="text" class="form-control gl_input_box required"
                                           autocomplete="nope" placeholder="Highest academic qualification">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group pixl_form_group">
                                    <label class="control-label">Expected Annual Salary</label>
                                    <input type="text" class="form-control gl_input_box required"
                                           autocomplete="nope" placeholder="Enter Amt in No.s only">
                                    <span class="inr_txt">INR</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group pixl_form_group">
                                    <label class="control-label">Institution</label>
                                    <input type="text" class="form-control gl_input_box required"
                                           autocomplete="nope" placeholder="Last academic institution attended">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group pixl_form_group">
                                    <label class="control-label">Contact No.</label>
                                    <input type="text" class="form-control gl_input_box required"
                                           autocomplete="nope" placeholder="Your 10 digit mobile No.">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group pixl_form_group">
                                    <label class="control-label">Email ID</label><a href=""
                                                                                    class="verify_link">VERIFY</a>
                                    <input type="text" class="form-control gl_input_box required"
                                           autocomplete="nope" placeholder="Your current Email ID">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group pixl_form_group">
                                    <label class="control-label">Upload Resume</label>
                                    <div class="draggable_box text-center">Drag & drop Document or <a
                                            class="upload_link">Upload file</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-md-offset-2 text-center">
                                <div class="form-group pixl_form_group">
                                    <a href="" class="btn_preview">Preview</a>
                                </div>
                            </div>
                            <div class="col-md-4 text-center">
                                <div class="form-group pixl_form_group">
                                    <a href="" class="btn_proceed">Proceed</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{{>footer}}
{{>footer_assets select2=true}}
</body>
<script type="application/javascript">
    $(function() {

    });
</script>
</html>
