<!DOCTYPE html>
<html lang="en">
<head>
    <title>Pixlcoders</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{>header_assets swiper=true  select2=true}}
</head>
<body class="signup_pg">
{{>header}}
<section class="common_main_sec">
    {{>common_hero_sec}}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="common_form_sec">
                    <div class="signup_wrap">
                        <form class="" id="">
                            <div class="row">
                                <div class="col-xs-4 col-sm-6 col-md-6">
                                    <div class="form-group pixl_form_group">
                                        <div class="signup_title_wrap">
                                            <div class="title">Signup to </div>
                                            <div class="sub_title">Get started!</div>
                                        </div>
                                    </div>
                                    <div class="role_wrap">
                                        <div class="form-group pixl_form_group">
                                            <label for="" class="control-label">Select a role</label>
                                            <div class="role_row">
                                                <a class="btn role"><i class="fa fa-user"
                                                                               aria-hidden="true"></i>Recruiter</a>
                                                <a class="btn role active"><i class="fa fa-user"
                                                                                 aria-hidden="true"></i>Applicant</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-8 col-sm-6 col-md-6 hidden-xs">
                                    <div class="upload_photo_wrap">
                                        <img src="" alt="" class="img_sec">
                                        <div class="icon_wrap">
                                            <i class="fa fa-camera"></i>
                                            <div class="upload_txt">Upload Photo</div>
                                        </div>
                                        <input type="file" class="input_file">
                                    </div>
                                </div>
                                <div class="col-xs-12 visible-xs">
                                    <div class="upload_photo_wrap">
                                        <img src="" alt="" class="img_sec">
                                        <div class="icon_wrap">
                                            <i class="fa fa-camera"></i>
                                            <div class="upload_txt">Upload Photo</div>
                                        </div>
                                        <input type="file" class="input_file">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group pixl_form_group">
                                        <label class="control-label">Full Name</label>
                                        <div class="box_sec">
                                            <input type="text" class="form-control required"
                                                   autocomplete="nope"
                                                   placeholder="Enter your first name and last name">
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div class="form-group pixl_form_group">
                                        <label class="control-label">Experience</label>
                                        <div class="row">
                                            <div class="col-md-6 col-xs-6">
                                                <div class="form-group pixl_form_group">
                                                    <div class="box_sec">
                                                        <!--<select class="form-control required">-->
                                                            <!--<option value="">0 Years</option>-->
                                                        <!--</select>-->
                                                        <select class="form-control js_select2">
                                                            <option value="">Choose category</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-xs-6">
                                                <div class="form-group pixl_form_group">
                                                    <div class="box_sec">
                                                        <select class="form-control required">
                                                            <option value="">0 Months</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group pixl_form_group">
                                        <label class="control-label">Qualification</label>
                                        <div class="box_sec">
                                            <input type="text" class="form-control required"
                                                   autocomplete="nope" placeholder="Highest academic qualification">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group pixl_form_group">
                                        <label class="control-label">Expected Annual Salary</label>
                                        <div class="box_sec">
                                            <input type="text" class="form-control required"
                                                   autocomplete="nope" placeholder="Enter Amt in No.s only">
                                            <span class="inr_txt">INR</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group pixl_form_group">
                                        <label class="control-label">Institution</label>
                                        <div class="box_sec">
                                            <input type="text" class="form-control required"
                                                   autocomplete="nope" placeholder="Last academic institution attended">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group pixl_form_group">
                                        <label class="control-label">Contact No.</label><a href=""
                                                                                           class="non_verify_link">VERIFY</a>
                                        <div class="box_sec">
                                            <input type="text" class="form-control required"
                                                   autocomplete="nope" placeholder="Your 10 digit mobile No.">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group pixl_form_group">
                                        <label class="control-label">Email ID</label><a href=""
                                                                                        class="verify_link">VERIFY</a>
                                        <div class="box_sec">
                                            <input type="text" class="form-control required"
                                                   autocomplete="nope" placeholder="Your current Email ID">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group pixl_form_group">
                                        <label class="control-label">Upload Resume</label>
                                        <div class="box_sec upload_sec">
                                            <span class="fa fa-file-text-o icon_sec">
                                                <span class="fa fa-arrow-circle-o-up sub_icon_sec"></span>
                                            </span>
                                            <span>Drag & drop Image or </span>
                                            <a class="upload_txt">Upload file</a>
                                            <input type="file" class="input_file">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cta_wrap">
                                <button class="btn btn_big btn_preview">PREVIEW</button>
                                <button class="btn btn_big btn_blue">
                                    PROCEED
                                    <span class="fa fa-arrow-right right_icon"></span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{>footer swiper=true select2=true}}
</body>
<script type="application/javascript">
    $(function() {

    });
</script>
</html>
