<!DOCTYPE html>
<html lang="en">
<head>
    <title>Pixlcoders</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{>header_assets swiper=true  select2=true cropper=true}}
</head>
<body class="signup_pg">
{{>header}}
<section class="common_main_sec">
    {{>common_hero_sec}}
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="common_form_sec">
                    <div class="signup_wrap">
                        <form class="" id="jsSignUpApplicantForm">
                            <div class="row">
                                <div class="col-xs-4 col-sm-6 col-md-6">
                                    <div class="form-group pixl_form_group">
                                        <div class="signup_title_wrap">
                                            <div class="title">Signup to </div>
                                            <div class="sub_title">Get started!</div>
                                        </div>
                                    </div>
                                    <div class="role_wrap">
                                        <div class="form-group pixl_form_group">
                                            <label for="" class="control-label">Select a role</label>
                                            <div class="role_row">
                                                <a class="btn signup-recruit role" type="submit"
                                                   data-target="/signup-recruiter"><i class="fa fa-user"
                                                                                      aria-hidden="true"></i>Recruiter</a>
                                                <a class="btn signup-applicant role active" type="submit"
                                                   data-target="/signup-fresh"><i class="fa fa-user"
                                                                                  aria-hidden="true"></i>Applicant</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-8 col-sm-6 col-md-6 hidden-xs">
                                    <div class="upload_photo_wrap js_profile_img_wrap" data-target="#profileImageCropperModal"
                                         data-toggle="modal" data-backdrop="static">
                                        <img src="" alt="" class="img_sec js_img_pre_holder">
                                        <div class="icon_wrap">
                                            <i class="fa fa-camera"></i>
                                            <div class="upload_txt">Upload Photo</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 visible-xs">
                                    <div class="profile_img_wrap js_profile_img_wrap" data-target="#profileImageCropperModal"
                                         data-toggle="modal" data-backdrop="static">
                                        {{#if user.links.avatar_url}}
                                            <img class="profile_img js_img_pre_holder" src="/cdn/img{{user.links.avatar_url}}">
                                        {{/if}}
                                        <div class="change_photo">
                                            <i class="fa fa-camera"><span class="txt">Change Photo</span></i>
                                        </div>
                                        <img src="/img/loading.gif" class="loader_img js_prof_pic_load_img hide">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group pixl_form_group">
                                        <label class="control-label">Full Name</label>
                                        <div class="box_sec">
                                            <input type="text" class="form-control js_name required"
                                                   autocomplete="nope"
                                                   placeholder="Enter your first name and last name">
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div class="form-group pixl_form_group">
                                        <label class="control-label">Experience</label>
                                        <div class="row">
                                            <div class="col-md-6 col-xs-6">
                                                <div class="box_sec">
                                                    <select id="selectExpYear"
                                                            class="form-control js_select required select2">
                                                        <option value="0">0 Years</option>
                                                        <option value="1">1 Years</option>
                                                        <option value="2">2 Years</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-xs-6">
                                                <div class="box_sec">
                                                    <select id="selectExpMonth"
                                                            class="form-control required select2">
                                                        <option value="0">0 Months</option>
                                                        <option value="1">1 Months</option>
                                                        <option value="2">2 Months</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="fresh_detils_sec" id="freshDetails">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group pixl_form_group">
                                            <label class="control-label">Qualification</label>
                                            <div class="box_sec">
                                                <input type="text" class="form-control js_qualification"
                                                       autocomplete="nope" placeholder="Highest academic qualification">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group pixl_form_group">
                                            <label class="control-label">Expected Annual Salary</label>
                                            <div class="box_sec">
                                                <input type="text" class="form-control js_anual_salary"
                                                       autocomplete="nope" placeholder="Enter Amt in No.s only">
                                                <span class="inr_txt">INR</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group pixl_form_group">
                                            <label class="control-label">Institution</label>
                                            <div class="box_sec">
                                                <input type="text" class="form-control js_institution"
                                                       autocomplete="nope"
                                                       placeholder="Last academic institution attended">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group pixl_form_group">
                                            <label class="control-label">Gender</label>
                                            <div class="box_sec">
                                                <select
                                                    class="form-control js_gender required">
                                                    <option value="male">Male</option>
                                                    <option value="female">Female</option>
                                                    <option value="other">Others</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group pixl_form_group">
                                            <label class="control-label">Contact No.</label><a href=""
                                                                                               class="non_verify_link">VERIFY</a>
                                            <div class="box_sec">
                                                <input type="text" class="form-control required js_mobile"
                                                       autocomplete="nope" placeholder="Your 10 digit mobile No.">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group pixl_form_group">
                                            <label class="control-label">Email ID</label><a href=""
                                                                                            class="verify_link">VERIFY</a>
                                            <div class="box_sec">
                                                <input type="text" class="form-control required js_email"
                                                       autocomplete="nope" placeholder="Your current Email ID">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group pixl_form_group">
                                            <label class="control-label">Password</label>
                                            <div class="box_sec">
                                                <input type="text" class="form-control required js_password"
                                                       autocomplete="nope" placeholder="Your password">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group pixl_form_group">
                                            <label class="control-label">Upload Resume</label>
                                            <div class="box_sec upload_sec">
                                            <span class="fa fa-file-text-o icon_sec">
                                                <span class="fa fa-arrow-circle-o-up sub_icon_sec"></span>
                                            </span>
                                                <span>Drag & drop Image or </span>
                                                <a class="upload_txt">Upload file</a>
                                                <input type="file" class="input_file">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="exp_detail_sec" id="expDetails">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group pixl_form_group">
                                            <label class="control-label">Designation</label>
                                            <div class="box_sec">
                                                <input type="text" class="form-control"
                                                       autocomplete="nope" placeholder="Mention about your role">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group pixl_form_group">
                                            <label class="control-label">Company Name</label>
                                            <div class="box_sec">
                                                <input type="text" class="form-control"
                                                       autocomplete="nope" placeholder="Enter your company's name">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group pixl_form_group">
                                            <label class="control-label">Current Annual Salary</label>
                                            <div class="box_sec">
                                                <input type="text" class="form-control"
                                                       autocomplete="nope" placeholder="Enter Amt in No.s only">
                                                <span class="inr_txt">INR</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group pixl_form_group">
                                            <label class="control-label">Expected Annual Salary</label>
                                            <div class="box_sec">
                                                <input type="text" class="form-control"
                                                       autocomplete="nope" placeholder="Enter Amt in No.s only">
                                                <span class="inr_txt">INR</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group pixl_form_group">
                                            <label class="control-label">Gender</label>
                                            <div class="box_sec">
                                                <input type="text" class="form-control"
                                                       autocomplete="nope" placeholder="Gender">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group pixl_form_group">
                                            <label class="control-label">Contact No.</label>
                                            <a href="" class="non_verify_link">VERIFY</a>
                                            <div class="box_sec">
                                                <input type="text" class="form-control"
                                                       autocomplete="nope" placeholder="Your 10 digit mobile No.">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group pixl_form_group">
                                            <label class="control-label">Email ID</label><a href="" class="verify_link">VERIFY</a>
                                            <div class="box_sec">
                                                <input type="text" class="form-control"
                                                       autocomplete="nope" placeholder="Your current Email ID">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group pixl_form_group">
                                            <label class="control-label">Password</label>
                                            <div class="box_sec">
                                                <input type="text" class="form-control"
                                                       autocomplete="nope" placeholder="Your password">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group pixl_form_group">
                                            <label class="control-label">Upload Resume</label>
                                            <div class="box_sec upload_sec">
                                            <span class="fa fa-file-text-o icon_sec">
                                                <span class="fa fa-arrow-circle-o-up sub_icon_sec"></span>
                                            </span>
                                                <span>Drag & drop Image or </span>
                                                <a class="upload_txt">Upload file</a>
                                                <input type="file" class="input_file">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cta_wrap">
                                <button class="btn btn_big btn_preview">PREVIEW</button>
                                <button class="btn btn_big btn_blue" type="submit">
                                    PROCEED
                                    <span class="fa fa-arrow-right right_icon"></span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{>popup/profile_photo_upload}}
{{>footer swiper=true select2=true cropper=true}}
</body>
<script type="application/javascript">
    $(function() {
        ApplicantSignUpHandler.init();
        ApplicantSignUpHandler.initView();
    });

    $('.signup-recruit').on('click', function(event) {
        event.preventDefault();
        var url = $(this).data('target');
        location.replace(url);
    });

    $('.signup-applicant').on('click', function(event) {
        event.preventDefault();
        var url = $(this).data('target');
        location.replace(url);
    });

    $(function() {
        $('#selectExpYear').change(function() {
            var selectedItem = $(this).val();
            if(selectedItem.valueOf() > 0) {
                $('#freshDetails').hide();
                $('#expDetails').show();
            } else {
                $('#freshDetails').show();
                $('#expDetails').hide();
            }
        });
    });

    $(function() {
        $('#selectExpMonth').change(function() {
            var selectedItem = $(this).val();
            if(selectedItem > 0) {
                $('#freshDetails').hide();
                $('#expDetails').show();
            } else {
                $('#freshDetails').show();
                $('#expDetails').hide();
            }
        });
    });


</script>
</html>
