<!DOCTYPE html>
<html lang="en">
<head>
    <title>pixljobs</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
    {{>header_assets}}
</head>
<body class="">
<div class="hero_sec">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <form class="" id="">
                    <div class="row">
                        <div class="col-md-6">
                            <label class="">Full Name</label>
                            <input type="text" class="form-control"
                                   autocomplete="nope" placeholder="Enter your first name and last name">
                        </div>
                        <div class="col-md-6">
                            <label class="">Designation</label>
                            <input type="text" class="form-control"
                                   autocomplete="nope" placeholder="Mention about your role">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="">Company Name</label>
                            <input type="text" class="form-control"
                                   autocomplete="nope" placeholder="Enter your company's name">
                        </div>
                        <div class="col-md-6">
                            <label class="">Industry</label>
                            <input type="text" class="form-control"
                                   autocomplete="nope" placeholder="Select a domain">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="">Company Size</label>
                            <select class="form-control">
                                <option value="">Select Range</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label class="">Company URL</label>
                            <input type="text" class="form-control"
                                   autocomplete="nope" placeholder="Your company's official website">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label class="">About Company</label>
                            <textarea rows="2" class="form-control"
                                      placeholder="Few words describing your company’s work culture, domain expertise, etc."
                                      autocomplete="nope"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label class="">Company Benefits</label>
                            <textarea rows="2" class="form-control"
                                      placeholder=""
                                      autocomplete="nope"></textarea>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{>footer_assets}}
</body>
<script type="application/javascript">
    $(function () {

    });
</script>
</html>
