body {
    &.popup-visible {
        overflow: hidden;
    }
}

.cd-popup {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;
    z-index: 1000;

    &.is-visible {
        opacity: 1;
        visibility: visible;
        -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
        -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
        transition: opacity 0.3s 0s, visibility 0s 0s;

        .cd-popup-container {
            -webkit-transform: translateY(0);
            -moz-transform: translateY(0);
            -ms-transform: translateY(0);
            -o-transform: translateY(0);
            transform: translateY(0);
        }
    }

    .cd-popup-container {
        position: relative;
        width: 90%;
        max-height: 80vh;
        max-width: 700px;
        overflow: scroll;
        margin: 6% auto;
        background: #FFF;
        border-radius: 6px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        -webkit-transform: translateY(-40px);
        -moz-transform: translateY(-40px);
        -ms-transform: translateY(-40px);
        -o-transform: translateY(-40px);
        transform: translateY(-40px);
        -webkit-backface-visibility: hidden;
        -webkit-transition-property: -webkit-transform;
        -moz-transition-property: -moz-transform;
        transition-property: transform;
        -webkit-transition-duration: 0.3s;
        -moz-transition-duration: 0.3s;
        transition-duration: 0.3s;
    }

    .cd-popup-close {
        position: absolute;
        top: 18px;
        right: 18px;
        width: 30px;
        height: 30px;
        font-size: 30px;
        color: #FFFFFF;
        text-decoration: none;

        &:hover {
            text-decoration: none;
        }
    }

    &.default {
        .cd-popup-close {
            font-size: 30px;
            color: black;
            text-decoration: none;
        }
    }

    .cd-popup-container.home_video_popup {
        position: relative;
        max-width: 100%;
        width: 100%;
        max-height: none;
        margin: 0;
        border-radius: 0;
        background: transparent;

        .cd-popup-close {
            color: #f3f3f3;
        }

        #welcomeVideo {
            width: 100%;
            height: 100%;
        }
    }

    &.page_loader_popup {

        .cd-popup-container {
            min-height: 300px;
            margin: 30px auto;
        }

        .hd_title {
            padding: 20px 20px 50px 20px;
            font-size: 18px;
            font-weight: 500;
            text-align: center;
        }
        .loader_table_cell img {
            width: 160px;
            margin: 20px auto 0;
            display: block;
        }
    }
}

@media all and(max-width: 767px) {
    .cd-popup {
        .cd-popup-container.home_video_popup {
            margin: 31% 0;
        }

        .cd-popup-close {
            top: -8px;
            right: 8px;
        }
    }
}
