.add_new_cont_pg {

    .bredcrumb_sec {
        position: fixed;
        width: 100%;
        z-index: 1;

        .cont_sec {
            padding: 25px 0 25px 20px;
        }
    }

    .cont_txt {
        font-size: 24px;
        font-weight: 900;
        text-align: center;
        color: #ffffff;
    }

    .main_sec_wrap {
        .form_sec_wrap {
            padding: 90px 0 0 0;
            position: relative;
            z-index: 0;

            .lbl_txt {
                font-size: 24px;
                color: #3d3d3d;
                font-weight: bold;
                padding: 18px 0 10px 0;
            }

            .input_val {
                font-size: 16px;
                color: #282f3f;
                font-weight: 400;
                border-radius: 6px;
                border-color: #708190;
                padding: 20px 24px;
                margin: 0 0 0 0;
            }

            .input_val:focus {
                background: #f7f71a29;
            }

            .form-control:focus {
                background-color: #f7f71a29;
            }

            .option_val {
                font-size: 16px;
                color: #282f3f;
                font-weight: 400;
                border-radius: 6px;
                border-color: #282f3f;
                padding: 20px 24px;
            }

            .symptom_selected {
                background: #f7f71a29;
            }

            .symptom_add {
                color: #9da8bb;
                cursor: pointer;
                margin: 0 0 0 0;
            }

            .img_sec_wrap {

                .img_sec {
                    width: 270px;
                    height: 140px;
                    cursor: pointer;
                }
            }

            .symptoms_input_wrap {
                overflow: hidden;
                position: relative;
            }

            .problems_input_wrap {
                overflow: hidden;
                position: relative;
            }
        }

        @media (max-width: 767px) {

        }
    }

    .add_btn {
        margin: 20px;
    }

    .cta_wrap {
        margin: 70px 0;
        text-align: center;

        .submit_btn {
            min-width: 280px;
        }
    }

    .img_sec_wrap {
        position: relative;
        cursor: pointer;

        .img_preview_holder {
            display: none;
        }

        .img_sec {
            display: block;
        }

        &.active {
            .img_sec {
                display: none;
            }

            .img_preview_holder {
                display: block;
                width: 270px;
                height: 140px;
                cursor: pointer;
                border-radius: 8px;
            }
        }

        .image_input_hidden {
            position: absolute;
            opacity: 0;
            top: 0;
            height: 100%;
            left: 0;
            cursor: pointer;
        }
    }

    .help_txt {
        opacity: 0.7;
        font-size: 14px;
        font-style: italic;
    }

    .js_symptoms, .js_problems {
        &.new {
            margin-bottom: 13px;
        }
    }
}