.med_content_pg {

    .client_header_pg {
        z-index: 930;
    }

    .bredcrumb_sec {
        position: fixed;
        width: 100%;
        z-index: 900;

        .cont_sec {
            padding: 25px 0 25px 20px;
        }
    }

    .cont_txt {
        font-size: 30px;
        font-weight: 900;
        text-align: center;
        color: #ffffff;
    }

    .sidebar_sec_wrap {
        position: fixed;
        left: 0;
        top: 0;
        background: rgb(245, 245, 245);
        padding-top: 50px;
        min-height: 100%;
        width: 300px;
        z-index: 810;
        -webkit-transition: -webkit-transform .3s ease-in-out, width .3s ease-in-out;
        -moz-transition: -moz-transform .3s ease-in-out, width .3s ease-in-out;
        -o-transition: -o-transform .3s ease-in-out, width .3s ease-in-out;
        transition: transform .3s ease-in-out, width .3s ease-in-out;

        .summary_steps_sec {
            padding: 140px 0 0 0;

            .summary_steps {
                position: relative;
                background: #1064e0;
                height: 67px;

                .combined_img {
                    position: absolute;
                    display: block;
                    text-align: right;
                    right: -17px;
                    height: 67px;
                }

                .lang_sec {
                    width: 70%;
                    margin: auto;
                    display: inline-block;
                    background: #1064E0;
                    border: none;
                    color: #FFFFFF;
                    text-transform: uppercase;
                    position: absolute;
                    top: 10px;
                    left: 30px;
                }
            }
        }

        .condition_sec_wrap {
            padding: 15px 0 340px 20px;
            overflow: scroll;
            height: 100vh;

            ul {
                list-style-type: initial;

                li {
                    padding: 0 15px 36px 7px;
                    list-style: none;

                    a {
                        font-size: 14px;
                        text-decoration-color: #7d7d7d;
                        font-weight: 400;

                        &.active {
                            color: #2270e7;
                            cursor: pointer;
                            opacity: 1;
                        }

                        small {
                            font-size: 11px;
                            opacity: 0.6;
                            display: inline-block;
                        }
                    }

                    a:hover {
                        color: #2270e7;
                        opacity: 1;
                    }

                    &.active {
                        a {
                            color: #2270e7;
                            cursor: pointer;
                            opacity: 1;
                        }
                    }
                }

                .active {
                    color: #2270e7;
                    cursor: pointer;
                    opacity: 1;
                }
            }
        }

        //Select2 js styles
        .select2-container {
            text-align: left;
        }

        .select2-results__option {
            color: #444;
            font-size: 13px;
            text-shadow: none;
        }

        .select2-container--default .select2-selection--single {
            border-radius: 2px;
            height: 50px;
            position: relative;
            top: 10px;
            left: 20px;
            background: #1064E0;
            border: none;

            &:focus {
                border: 0;
            }
        }

        .select2-container--default .select2-selection--single .select2-selection__rendered {
            line-height: normal;
            border: 0;
            padding-top: 17px;
            color: #FFFFFF;
            font-size: 16px;
            text-transform: uppercase;
            font-weight: 500;
        }

        .select2-container--default .select2-selection--single .select2-selection__arrow b {
            border-color: #FFFFFF transparent transparent transparent;
            border-style: solid;
            border-width: 8px 7px 0 7px;
            height: 0;
            left: 10%;
            margin-left: -4px;
            margin-top: -2px;
            position: absolute;
            width: 0;
            top: 25px;
        }

        .select2-dropdown {
            background-color: #f7f7f7;
            border: 1px solid #f7f7f7;
        }

        .select2-container--default .select2-results__option[aria-selected=true] {
            background-color: #3188d0;
            color: white;
        }

    }

    .main_sec_wrap {

        .form_sec_wrap {
            -webkit-transition: -webkit-transform .3s ease-in-out, margin .3s ease-in-out;
            -moz-transition: -moz-transform .3s ease-in-out, margin .3s ease-in-out;
            -o-transition: -o-transform .3s ease-in-out, margin .3s ease-in-out;
            transition: transform .3s ease-in-out, margin .3s ease-in-out;
            margin-left: 300px;
            z-index: 800;
            padding: 126px 80px 0 80px;
            position: relative;

            .lbl_txt {
                font-size: 24px;
                color: #3d3d3d;
                font-weight: bold;
                padding: 18px 0 10px 0;
            }

            .input_val {
                font-size: 16px;
                color: #282f3f;
                font-weight: 400;
                border-radius: 6px;
                border-color: #708190;
                padding: 20px 24px;
                margin: 0 0 0 0;
            }

            .input_val:focus {
                background: #f7f71a29;
            }

            .form-control:focus {
                background-color: #f7f71a29;
            }

            .option_val {
                font-size: 16px;
                color: #282f3f;
                font-weight: 400;
                border-radius: 6px;
                border-color: #282f3f;
                padding: 20px 24px;
            }

            .symptom_selected {
                background: #f7f71a29;
            }

            .symptom_add {
                color: #9da8bb;
                cursor: pointer;
                margin: 0 0 50px 0;
            }

            .img_sec_wrap {
                .img_sec {
                    width: 270px;
                    height: 140px;
                    cursor: pointer;
                }
            }

            .symptoms_input_wrap {
                overflow: hidden;
                position: relative;
            }

            .problems_input_wrap {
                overflow: hidden;
                position: relative;
            }
        }

        @media (max-width: 767px) {

        }
    }

    .img_sec_wrap {
        position: relative;

        .img_preview_holder {
            display: none;
        }

        .img_sec {
            display: block;
        }

        &.active {
            .img_sec {
                display: none;
            }

            .img_preview_holder {
                display: block;
                width: 270px;
                height: 140px;
                border-radius: 8px;
            }

            .image_input_hidden {
                display: none;
            }

            .remove_img_icon {
                display: block;
            }
        }

        .image_input_hidden {
            position: absolute;
            opacity: 0;
            top: 0;
            height: 100%;
            left: 0;
            cursor: pointer;
            display: block;
        }

        .remove_img_icon {
            display: none;
            position: absolute;
            top: -13px;
            left: -14px;
            cursor: pointer;
            font-size: 20px;
            color: white;
            background: red;
            border-radius: 30px;
            padding: 9px 12px;
            width: 39px;
            height: 38px;
            text-align: center;
        }
    }

    .add_btn {
        margin: 40px 20px 20px 20px;

        .btn {
            width: 160px;
        }
    }

    .cta_wrap {
        margin: 70px 0;
        text-align: center;

        .submit_btn {
            min-width: 280px;
        }
    }


    .js_symptoms, .js_problems {
        &.new, &.give_space {
            margin-bottom: 13px;
        }
    }

    .modal-dialog {
        .modal-body {
            .bootbox-body {
                font-size: 18px;
                font-weight: 600;
                padding: 10px 0;
            }
        }

        .modal-footer {
            padding-top: 20px;

            .btn_confirm {
                min-width: 100px;
                margin: 0 0 0 20px;
                font-size: 16px;
                font-weight: 400;
                text-align: center;
                color: #f2fdff;
                border-radius: 4px;
                background: #5a61df;
                padding: 15px 20px 15px;
            }

            .btn_cancel {
                min-width: 100px;
                margin: 0 0 0 20px;
                font-size: 16px;
                font-weight: 400;
                text-align: center;
                color: black;
                border-radius: 4px;
                background: white;
                border: 1px solid #ccc;
                padding: 15px 20px 15px;
            }
        }
    }
}