.job_info_pg {
    background-color: #f8f8f9;


    .desc_title {
        font-size: 27px;
        font-weight: 600;
        color: #2e3d4e;
    }

    .job_card {
        border-radius: 4px;
        box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.13);
        background-color: #ffffff;

        .job_sec {
            padding: 22px;

            .job_card_title {
                font-size: 34px;
                font-weight: 600;
                color: #2e3d4e;
                padding: 10px 0 0 0;
                display: inline-block;
            }

            .company_logo {
                display: inline-block;
            }

            .job_tags {
                padding: 30px 0 30px 0;

                .tags {
                    font-size: 15px;
                    font-weight: 600;
                    color: #637282;

                    .fa-dollar {
                        color: #00c87a;
                    }
                }

                .post_tag {
                    border-radius: 3px;
                    background-color: #5b8fe9;
                    color: #fff;
                    padding: 5px;
                    text-align: center;
                }


            }
        }

        .work_sec {

            .row_c {
                margin: 0 -2px 0 -2px;
            }

            .col_bordered {
                border: solid 2px #eaedf0;
                text-align: center;
                padding-top: 20px;
                padding-bottom: 20px;
            }

            .option {
                font-size: 14px;
                font-weight: 600;
                color: #637282;
                text-transform: uppercase;

            }

            .option_val {
                font-size: 18px;
                font-weight: 900;
                color: #637282;

            }
        }

        .job_desc {
            padding: 20px;

            .about_sec {
                padding: 20px 30px 30px 30px;
            }

            .requirement_sec {
                padding: 20px 30px 30px 30px;
            }


            .desc {
                padding-top: 15px;
                font-size: 18px;
                font-weight: 300;
                color: #637282;
            }

            .requirement_list {
                padding-left: 30px;
            }
        }

        .tech_details {
            border-top: 2px solid #eaedf0;

            .tech_sec {
                padding: 40px 50px 50px 50px;

                .desc_title {
                    font-size: 27px;
                    font-weight: 600;
                    color: #2e3d4e;
                }

                .desc {
                    padding-top: 15px;
                    font-size: 18px;
                    font-weight: 300;
                    color: #2e3d4e;

                    .tech_name {
                        display: inline-block;
                        padding-right: 20px;
                    }

                    .filled_bar {
                        width: 23px;
                        height: 9px;
                        border-radius: 4.5px;
                        background-color: #fc7968;
                        display: inline-block;
                        padding-left: 20px;
                    }

                    .empty_bar {
                        width: 23px;
                        height: 9px;
                        border-radius: 4.5px;
                        background-color: #e2e6ea;
                        display: inline-block;
                        padding-left: 20px;
                    }
                }

            }

        }


    }

    .about_company_card {
        margin-top: 8px;
        border-radius: 4px;
        box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.13);
        background-color: #ffffff;

        .company_desc {
            padding: 20px;

            .about_sec {
                padding: 20px 30px 30px 30px;
            }


            .desc {
                padding-top: 15px;
                font-size: 18px;
                font-weight: 300;
                color: #637282;

                .fa-check-circle {
                    color: #fc7968;
                    padding-right: 20px;
                }


            }
        }

        .about_work_sec {

            .row_c {
                margin: 0 -2px 0 -2px;
            }

            .col_bordered {
                border: solid 2px #eaedf0;
                text-align: left;
                padding-top: 20px;
                padding-bottom: 20px;
                padding-left: 50px;
            }

            .option {
                font-size: 14px;
                font-weight: 600;
                color: #637282;
                text-transform: uppercase;

            }

            .option_val {
                font-size: 18px;
                font-weight: 900;
                color: #637282;

            }
        }
    }

    .apply_sec {
        padding-top: 370px;

        .btn-apply {
            border-radius: 3px;
            box-shadow: 0 3px 14px 0 rgba(0, 0, 0, 0.15);
            background-image: linear-gradient(to left, #fa889a, #ef742b);
            font-size: 18px;
            font-weight: 600;
            text-align: center;
            color: #ffffff;
        }

        .link_txt {
            font-size: 18px;
            font-weight: 600;
            text-align: center;
            color: #637282;
        }

        .link_sec {
            text-align: center;

            .link {
                font-size: 18px;
                font-weight: 600;
                color: #21aeff;
            }
        }

        .communication_tags {
            border-radius: 4px;
            background-color: #e2e6ea;
            padding: 10px 15px;
            margin: 10px 7px;
            font-size: 14px;
            font-weight: 600;
            text-align: center;
            color: #2e3d4e;
            display: inline-block;

        }

        .tags_sec {
            text-align: center;
            padding-top: 20px;

            .tech_tg {
                border-radius: 4px;
                background-color: #e2e6ea;
                display: inline-block;
                padding: 7px 7px 7px 7px;
                margin: 0 5px 0 5px;
            }

        }

        .views_sec {
            font-size: 13px;
            font-weight: 300;
            text-align: center;
            color: #9aa2a9;
            padding-top: 20px;
        }

    }

    .similar_sec {
        padding-top: 20px;
        padding-bottom: 30px;


        .title {
            font-size: 27px;
            font-weight: 600;
            text-align: center;
            color: #2e3d4e;
            padding-bottom: 30px;
        }

        .similar_post_card {
            padding: 20px;
            border-radius: 3px;
            box-shadow: 0 26px 38px 0 rgba(0, 0, 0, 0.22);
            background-color: #ffffff;

            .post_title {
                ont-family: Nunito;
                font-size: 20px;
                font-weight: 600;
                color: #2e3d4e;
            }

            .company {
                font-size: 18px;
                font-weight: 600;
                color: #c7d0d8;
            }

            .place {
                font-size: 18px;
                font-weight: 600;
                color: #89929e;
            }

        }
    }


}


@media all and (max-width: 767px) {

    .job_info_pg {

        .job_card {
            .job_sec {

                .job_card_title {
                    font-size: 26px;
                }

                .job_tags {
                    padding-bottom: 0px;

                    .tags {

                        margin: 10px 0 10px 0;
                    }

                    .post_tag {
                        margin: 10px 0 10px 0;
                    }
                }

            }

            .work_sec {
                .option {
                    text-align: left;
                    padding-left: 10px;
                }
            }

            .job_desc {
                padding: 0px;
            }

            .tech_details {
                .tech_sec {
                    padding: 30px 30px 50px 30px;
                }

            }

        }

        .about_company_card {
            .company_desc {
                padding: 0px;
            }
            .about_work_sec{
                .col_bordered {
                    padding-left: 30px;
                }

            }

        }


        .apply_sec{
            padding-top: 30px;
            .btn-apply{
                padding: 16px 34px;
            }
        }


    }

}