.job_info_pg{
    .about_job_card{
        border-radius: 4px;
        box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.13);
        background-color: #ffffff;
    }
    .about_company_card{
        border-radius: 4px;
        box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.13);
        background-color: #ffffff;
    }


}