.job_recruiter_pg {

    .hero_sec {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 350px;
    }

    .tab_links_wrap {
        position: relative;

        ul {
            padding: 0;
            margin: 0;
            position: absolute;
            top: 20px;
            left: 0;
            width: 180px;

            li {
                list-style: none;
                padding: 0;
            }
        ;
        }

        .cta_link {
            display: block;
            cursor: pointer;
            text-decoration: none;
            position: relative;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.56;
            color: #637282;
            padding: 12px 0;

            &:before {
                content: '‣';
                display: none;
                position: absolute;
                top: 10px;
                left: -30px;
                font-size: 32px;
                line-height: 1;
            }

            &.active {
                font-weight: 600;

                &:before {
                    display: block;
                }
            }
        }
    }

    .form_sec {
        box-shadow: 0 14px 37px 0 rgba(0, 0, 0, 0.15);
        background-image: linear-gradient(208deg, #ffffff, #f7f7f7);
        margin: -240px 0 0;
    }

    .user_wrap {
        box-shadow: 0 14px 37px 0 rgba(0, 0, 0, 0.15);
        background-image: linear-gradient(208deg, #ffffff, #f7f7f7);
        padding: 35px 40px;
        border-bottom: solid 2px #eaedf0;

        .name {
            font-size: 19px;
            font-weight: 600;
            color: #4e5862;
        }

        .designation {
            font-size: 14px;
            color: #637282;
        }

        .details_sec {
            padding: 32px 0 0 40px;
        }
    }

    .profile_img_wrap {
        position: relative;
        width: 110px;
        height: 110px;


        .icon_wrap {
            width: 25px;
            height: 25px;
            border-radius: 100%;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.19);
            background-color: #fc7968;
            position: absolute;
            bottom: 10px;
            right: 0;
            padding: 3px 0 0;
            text-align: center;
        }

        .fa {
            color: #ffffff;
            font-size: 9px;
        }

        .img_sec {
            width: 100%;
            height: 100%;
            border-radius: 100%;
            border: 2px solid #FFFFFF;
            box-shadow: 0 14px 37px 0 rgba(0, 0, 0, 0.15);
        }
    }

    .cards_wrap {
        padding: 5px 6px 300px;


        .panel {
            margin-bottom: 8px;
        }

        .panel-heading {
            padding: 0;
        }

        .panel-body {
            border: none !important;
            padding: 0;
        }

        .panel-title {
            display: block;
            cursor: pointer;
            text-decoration: none;
            font-size: 15px;
            line-height: 1.67;
            color: #2e3d4e;
            padding: 18px 40px 18px;

            .highlights {
                font-size: 18px;
                font-weight: 600;
            }

            .small_txt {
                margin: 0 20px 0 0;
            }

            &.collapsed {
                .fa-angle-down {
                    transform: rotate(-90deg);
                }
            }

            .sub_title_sec {
                .small_txt {
                    opacity: 0.59;
                    font-size: 13px;
                    line-height: 1.92;
                    color: #637282;
                    position: relative;
                    padding: 0 7px 0 8px;
                    display: inline-block;
                    margin: 0 -4px 0 0;

                    &:before {
                        content: '';
                        position: absolute;
                        top: 4px;
                        left: 0;
                        bottom: 6px;
                        opacity: 0.27;
                        border-left: 2px solid #637282;
                    }

                    &:first-child {
                        padding: 0 4px 0 0;
                        margin: 0;

                        &:before {
                            content: none;
                        }
                    }
                }
            }
        }

        .close_btn_link {
            width: 95px;
            height: 34px;
            border-radius: 3px;
            background-color: #fbf2f1;
            font-size: 11px;
            font-weight: bold;
            text-align: center;
            color: #fc7968;
            display: block;
            cursor: pointer;
            text-decoration: none;
            margin: 17px 15px 10px auto;
            padding: 10px 0 0;

            .fa {
                position: relative;
                left: -2px;
                font-size: 13px;
            }
        }


    }
}