.postjob_work {
    .hero_sec {
        margin: 47px 304px 0 303px;
        box-shadow: 0 14px 37px 0 rgba(0, 0, 0, 0.15);
        background-image: linear-gradient(207deg, #ffffff, #f7f7f7);

        .title_wrap {
            max-width: 475px;
            padding: 40px 0 35px;

            .title {
                font-size: 19px;
                line-height: 1.28;
                letter-spacing: 0.4px;
                text-align: center;
                color: #4e5862;
                padding: 0 0 5px;
            }

            .sub_title {
                font-size: 32px;
                font-weight: 500;
                line-height: 1.28;
                letter-spacing: 0.4px;
                text-align: center;
                color: #4e5862;
                text-transform: capitalize;
            }
        }

        .radio_link {
            padding: 20px 0 0;
            text-align: center;
        }

        .radio_txt {
            padding: 0 0 0 10px;
        }

        .progress {
            position: relative;
            right: 218px;
            width: 208%;
            height: 6px;
            background-color: #f5f5f5;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
            box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
        }

        .blue_btn {
            width: 196px;
            height: 81px;
            border-radius: 5px;
            box-shadow: 0 5px 14px 0 rgba(0, 0, 0, 0.25);
            background-color: #4a58ff;
            border-color: #4a58ff;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: bold;
            color: #ffffff;
            margin: 71px 0 114px 110px;
        }

        .fa-arrow-right {
            opacity: 0.9;
            color: #adb3fc;
            padding: 0 0 0 24px;
        }
    }
}

@media all and (max-width: 767px) {
    .postjob_work {
        .hero_sec {
            margin: 47px 10px 0 10px;

            .progress {
                right: 0;
                width: 100%;
            }

            .pixl_form_group {
                .control-label {
                    padding: 0 10px 7px;
                }

                .box_sec {
                    width: 92%;
                    margin: 15px 0 0 12px;
                }
                .icon_wrap{
                    z-index: 1;
                    padding: 65px 30px 0 0;
                }
            }

            .blue_btn {
                margin: 71px 0 114px 50px;
            }

            .fa-arrow-right {
                padding: 0 0 0 15px;
            }
        }

        .navbar-header {
            margin-left: 20px;
        }
    }
}
