.postjob_company {
    .arrow_down {
        position: absolute;
        top: 18px;
        right: 8px;
        background: #FFFFFF;
        padding: 10px;
    }

    .hero_sec {

        .pixl_form_group {
            margin-bottom: 35px;

            .icon_wrap {
                right: 5px;

                .icon_sec {
                    width: 14px;
                    height: 14px;
                    opacity: 1;
                }
            }
        }

        .title_wrap {
            padding: 40px 0 35px;

            .title {
                font-size: 19px;
                line-height: 1.28;
                letter-spacing: 0.4px;
                text-align: center;
                color: #4e5862;
                padding: 0 0 5px;
            }

            .sub_title {
                font-size: 32px;
                font-weight: 500;
                line-height: 1.28;
                letter-spacing: 0.4px;
                text-align: center;
                color: #4e5862;
                text-transform: capitalize;
            }
        }

        .fa-plus {
            color: #00c87a;
            font-size: 16px;
        }

        .progress {
            position: relative;
            width: 100%;
            height: 6px;
            margin-bottom: 67px;
            overflow: hidden;
            background-color: #f5f5f5;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
            box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
        }

        .cta_wrap {
            margin: 71px 0 203px 0;
            text-align: center;

            .second_btn {
                margin: 0 10px 0;
            }

            .fa-arrow-left {
                opacity: 0.42;
                color: #2e3d4e;
                padding: 0 24px 0 0;
            }

            .fa-arrow-right {
                opacity: 0.9;
                color: #adb3fc;
                padding: 0 0 0 24px;
            }

            a.btn.btn_big {
                padding: 31px 0 0;
            }
        }
    }

    .select_comp_txt {
        font-size: 18px;
        font-weight: 600;
        color: #4e5862;
        vertical-align: top;
    }

    .companies_wrap {
        padding-bottom: 20px;
    }

    .add_new_company_btn {
        margin: 10px 0 0;
    }

    .list_sec {
        padding: 0;
        margin: 0;

        li {
            list-style: none;
            position: relative;
        }

        .type_name {
            font-size: 16px;
            font-weight: 600;
            color: #637282;
            display: inline-block;
            vertical-align: top;
            padding: 2px 6px 0 0;
        }

        .check_box {
            font-size: 16px;
            font-weight: 600;
            color: #637282;
            display: block;
            vertical-align: top;
            padding: 8px 0 8px 30px;
            margin: 0;


            .checkmark {
                top: 8.5px;
            }
        }
    }
}

@media all and (max-width: 767px) {
    .postjob_company {

        .arrow_down {
            position: absolute;
            top: 18px;
            right: 8px;
            background: #FFFFFF;
            padding: 10px;
        }

        .common_form_sec {
            margin: 90px -15px 0;

            .hero_sec {
                margin: 47px 10px 0 10px;

                .progress {
                    right: 10px;
                    width: 108%;
                }

                .pixl_form_group {
                    .control-label {
                        padding: 0 10px 7px;
                    }

                    .box_sec {
                        width: 93%;
                        margin: 0 0 0 10px;
                    }

                }

                .cta_wrap {
                    margin: 20px 0 30px;

                    .second_btn {
                        margin: 0 10px 20px;
                    }

                    .fa-arrow-left {
                        padding: 0 15px 0 0;
                    }

                    .fa-arrow-right {
                        padding: 0 0 0 15px;
                    }
                }
            }
        }

        .navbar-header {
            margin-left: 20px;
        }
    }
}
