.profile_pg {
    background-color: #f8f8f9;

    .pixl_form_group {
        margin-bottom: 35px;

        .verified_wrap {
            display: inline-block;
            margin-left: 5px;
            position: relative;
            bottom: 2px;

            .verified_email {
                background-color: #D4F9E8;
                display: inline-block;
                border-radius: 50%;
                width: 17px;
                padding-left: 3px;
            }

            .verified_txt {
                font-size: 11px;
                font-weight: 500;
                text-align: center;
                color: #04b972;
                margin-left: 4px;
            }
        }

        .verify_link {
            font-size: 12px;
            font-weight: bold;
            color: #ffffff;
            border-radius: 3px;
            background-color: #f5a623;
            padding: 3px 5px 2px 5px;
            margin-left: 4px;
            cursor: pointer;
        }

        .non_verify_link {
            font-size: 12px;
            font-weight: 700;
            color: #b7b7b7;
            border-radius: 3px;
            background-color: #ececec;
            padding: 3px 5px 2px 5px;
            margin-left: 4px;
        }

    }

    .sidenav {
        padding: 0;
        margin: 30px 0 0 0;

        li {
            list-style: none;
            display: block;
            padding-bottom: 10px;
        }

        a {
            padding: 10px 8px;
            text-decoration: none;
            display: block;
            width: 100%;
            cursor: pointer;
            outline: none;
            font-size: 15px;
            font-weight: 500;
            line-height: normal;
            text-align: left;
            color: #637282;
        }

        .active {
            font-weight: 500;
            position: relative;
            color: #46525f;

            &:before {
                content: ' \25B6';
                width: 8px;
                font-size: 12px;
                position: absolute;
                left: -10px;
                top: 13px;
            }
        }

    }

    .form_wrap {
        padding: 35px 40px 80px 40px;

        .name_info_sec {
            border-bottom: solid 2px #eaedf0;
            padding: 20px 0 30px 30px;
            margin-bottom: 30px;


            .profile_img_wrap {
                position: relative;
                width: 110px;
                height: 110px;


                input[type='file'] {
                    position: absolute;
                    opacity: 0;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    z-index: 1;
                }


                .icon_wrap {
                    width: 25px;
                    height: 25px;
                    border-radius: 100%;
                    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.19);
                    background-color: #fc7968;
                    position: absolute;
                    bottom: 10px;
                    right: 0;
                    padding: 3px 0 0;
                    text-align: center;
                }

                .fa {
                    color: #ffffff;
                    font-size: 9px;
                }

                .img_sec {
                    width: 100%;
                    height: 100%;
                    border-radius: 100%;
                    border: 2px solid #FFFFFF;
                    box-shadow: 0 14px 37px 0 rgba(0, 0, 0, 0.15);

                    background-color: #ffffff;
                    position: relative;
                    z-index: 0;
                    margin: 0 auto;
                }
            }

            .name_txt {
                font-size: 19px;
                font-weight: 500;
                color: #4e5862;
                padding-top: 27px;
            }

            .designation {
                font-size: 14px;
                color: #637282;
            }

            .qualification_txt {
                font-size: 14px;
                font-weight: 300;
                color: #637282;
            }
        }

        .label_new{
            font-size: 16px;
        }
        .label_value{
            font-size: 24px;
        }

        .cta_wrap {
            text-align: center;
            margin-top: 34px;

            .btn_big {
                margin-left: 14px;
            }
        }

        .inr_txt {
            position: absolute;
            top: 26px;
            right: 24px;
            color: #637282;
            font-size: 12px;
            z-index: 0;
        }

        .currancy_txt {
            color: #637282;
            font-size: 12px;
            padding-left: 10px;
        }

        .upload_resume {
            height: 60px;
            border-radius: 5px;
            border: dashed 2px #dadada;
            background-color: rgba(255, 255, 255, 0);
            padding-top: 17px;

            .upload_txt {
                text-align: center;
                vertical-align: middle;
            }
        }

        .verify_txt {
            text-align: center;
            color: #ffffff;
            border-radius: 3px;
            background-color: #f5a623;
            margin-left: 10px;
            padding: 3px 3px 3px 3px;
        }

        .checked_icon {
            border-radius: 9.5px;
            background-color: #d4f9e8;

            .fa-check-circle {
                background-color: #d4f9e8;
            }
        }

        .cta_link {
            text-decoration: none;
            cursor: pointer;
            text-underline: #2e3d4e;
        }

        .cta_links {
            font-size: 14px;
            text-transform: uppercase;
            opacity: .8;
            text-align: right;
            color: #4a58ff;
            text-decoration: underline;
            cursor: pointer;
        }

        .updated_txt {
            opacity: 0.56;
            font-size: 11px;
            text-align: right;
            color: #637282;
        }

        .submit_btn {
            height: 60px;
            border-radius: 5px;
            box-shadow: 0 5px 14px 0 rgba(0, 0, 0, 0.25);
            background-color: #4a58ff;
            font-size: 14px;
            font-weight: 500;
            text-align: center;
            color: #ffffff;
        }

        .preview_btn {
            height: 60px;
            border-radius: 5px;
            background-color: #e2e6ea;
            color: #2e3d4e;
            font-size: 14px;
            font-weight: 500;
            text-align: center;
        }
    }
    .check_box_wrap {
        padding: 30px 0 0;
    }
    .bottom_cta_wrap {
        padding: 42px 0 0;

        .cta_load_more_link {
            font-size: 16px;
            font-weight: 400;
            text-align: center;
            color: #637282;
            display: block;
            cursor: pointer;
            text-decoration: none;
            max-width: 300px;
            height: 50px;
            border-radius: 24px;
            border: solid 1px rgba(151, 151, 151, 0.24);
            background-color: rgba(23, 170, 255, 0);
            padding: 13px 0 0;
            margin: 0 auto;
        }

        .fa {
            width: 15px;
            position: relative;
            left: 14px;
            top: 1px;
            color: rgba(99, 114, 130, 0.36);
        }
    }
}

@media all and (max-width: 767px) {
    .profile_pg {

        .profile_img_wrap {
            margin: 0 auto;
        }

        .common_form_sec {
            margin: 90px -15px 0;

            .form_wrap {
                padding: 35px 10px 10px 10px;

                .name_info_sec {
                    padding: 0px;

                    .name_txt {
                        text-align: center;
                    }

                    .qualification_txt {
                        text-align: center;
                    }

                }

                .cta_wrap {
                    text-align: center;

                    .btn_preview {
                        margin: 0 0 14px 0;
                    }

                    .btn_big {
                        margin-left: 0;
                    }
                }

            }
        }
    }
}