.search_pg {
    .hero_sec {
        background: url(/img/cover-img.jpg) no-repeat left bottom;
        background-size: cover !important;

        .title {
            font-size: 34px;
            text-align: center;
            color: #7e7e7e;
            padding: 75px 0 20px;
        }

        .search_input_wrap {
            position: relative;
            max-width: 551px;
            margin: 0 auto 22px;
        }

        .search_input {
            font-size: 21px;
            color: #637282;
            width: 100%;
            font-weight: 400;
            height: 64px;
            border-radius: 6px;
            box-shadow: 0 18px 42px -10px rgba(0, 0, 0, 0.09);
            border: solid 1px rgba(151, 151, 151, 0.28);
            background-color: #ffffff;

            &:focus {
                outline: none;
            }
        }

        .fa-search {
            color: #888888;
            position: absolute;
            top: 20px;
            right: 20px;
            font-size: 26px;
        }

        .job_found_txt {
            font-size: 23px;
            color: #19cd7d;
            font-weight: 400;
            text-align: center;
            padding: 0 0 70px;
        }
    }

    .main_cont_sec {
        padding: 45px 0 60px;

        .cards_wrap {

        }

        .card_sec {
            position: relative;
            box-shadow: 0 2px 4px 0 rgba(213, 213, 214, 0.8);
            background-color: #ffffff;
            padding: 30px 30px 30px 90px;
            margin: 0 0 8px;
            z-index: 0;
            display: block;
            text-decoration: none;
            cursor: pointer;
            transition: 0.2s;

            .new_sec {
                position: absolute;
                top: 36%;
                left: -13px;
                display: none;
            }

            .fa-certificate {
                color: #ff7374;
                font-size: 30px;
            }

            .new_txt {
                position: absolute;
                top: 11px;
                left: 0;
                right: 0;
                font-size: 6px;
                font-weight: bold;
                text-align: center;
                color: #ffffff;
            }

            .c_logo {
                width: 36px;
                position: absolute;
                left: 30px;
            }

            &:hover {
                z-index: 1;
                box-shadow: 0 12px 35px 0 rgba(193, 193, 193, 0.92);
            }

            &.new_card {
                border-left: 3px solid #ff7374;

                .new_sec {
                    display: block;
                }
            }

            .com_icon {
                margin: 5px 3px 0 0;
                vertical-align: top;
                width: 12px;
                display: inline-block;
                color: rgb(189, 194, 201);
            }

            .com_name {
                text-transform: capitalize;
            }

        }

        .bottom_cta_wrap {
            padding: 42px 0 0;

            .cta_load_more_link {
                font-size: 16px;
                font-weight: 400;
                text-align: center;
                color: #637282;
                display: block;
                cursor: pointer;
                text-decoration: none;
                max-width: 300px;
                height: 50px;
                border-radius: 24px;
                border: solid 1px rgba(151, 151, 151, 0.24);
                background-color: rgba(23, 170, 255, 0);
                padding: 13px 0 0;
                margin: 0 auto;
            }

            .fa {
                width: 15px;
                position: relative;
                left: 14px;
                top: 1px;
                color: rgba(99, 114, 130, 0.36);
            }
        }

        .title {
            font-size: 23px;
            font-weight: 600;
            color: #2d3c4d;
            padding: 0 8px 9px 0;
            display: inline-block;
        }

        .sub_title {
            font-size: 16px;
            font-weight: normal;
            color: #b4bec9;
            padding: 0 0 9px;
            display: inline-block;
        }

        .tags_wrap {
            span {
                display: inline-block;
                font-size: 11px;
                font-weight: 400;
                color: #91a1b4;
                text-transform: uppercase;
                border-radius: 3px;
                background-color: #f4f7fc;
                padding: 5px 6px;
                margin: 0 8px 6px 0;

                &:last-child {
                    margin: 0;
                }
            }

            .more {
                display: inline-block;
                font-size: 14px;
                font-weight: 400;
                background-color: transparent;
                text-transform: lowercase;
                color: #5b8fe9;
                padding: 2px;
                width: 60px;
            }
        }

        .cta_wrap {
            text-align: right;
        }

        .btn {
            font-size: 11px;
            font-weight: normal;
            border-radius: 3px;
            text-decoration: none;
            cursor: pointer;
        }


        .btn_blue {
            background-color: #5b8fe9;
            text-align: center;
            color: #ffffff;
        }

        .job_details_wrap {
            text-align: right;
            padding: 15px 0 0;
            display: block;
        }

        .info_sec {
            display: inline-block;
            margin: 0 8px 0 0;

            &:last-child {
                margin: 0 0 0 2px;
            }

            .txt_sec {
                font-size: 14px;
                font-weight: normal;
                color: #6c7786;
            }

            .icon_sec {
                margin: 4px 3px 0 0;
                vertical-align: top;
                width: 12px;
                opacity: 0.55;
                display: inline-block;
            }

            .icon_dollar_sec {
                margin: 1px 3px 0 0;
                vertical-align: top;
                width: 9px;
                opacity: 0.55;
                display: inline-block;
            }

            .icon_marker_sec {
                height: 12px;
                opacity: 0.44;
                margin: 2px 2px 0 0;
                vertical-align: top;
            }
        }

        .filter_sec {
            padding: 0 0 42px;

            .box_label {
                padding: 0 0 15px;
            }


            .arrow_down {
                position: absolute;
                top: 18px;
                right: 8px;
                background: #FFFFFF;
                padding: 10px;
            }

            .check_box.right {
                margin: 3px 0 0;

                .checkmark {
                    left: auto;
                    right: 0;
                    border-radius: 2px;
                }
            }

            .icon_marker_sec {
                width: 15.9px;
                height: 15.6px;
                opacity: 0.44;
                margin-right: 10px;
            }

        }

        .list_sec {
            padding: 0;
            margin: 0;

            li {
                list-style: none;
                padding: 15px 50px 15px 15px;
                position: relative;
                border-bottom: 1px solid rgba(213, 213, 214, 0.8);
                opacity: 0.6;

                &:last-child {
                    border-bottom: none;
                }

                &.active {
                    opacity: 1;
                }
            }

            .type_name {
                font-size: 16px;
                font-weight: 600;
                color: #637282;
                display: inline-block;
                vertical-align: top;
                padding: 2px 6px 0 0;
            }

            .type_number {
                font-size: 11px;
                font-weight: 600;
                text-align: center;
                color: #959ba3;
                min-width: 26px;
                height: 26px;
                background-color: #f8f8f9;
                border-radius: 100%;
                display: inline-block;
                vertical-align: top;
                padding: 6px 3px 0;
            }

            .check_box {
                position: absolute;
                top: 22px;
                right: 0;
            }
        }

    }

    .refresh_icon_sec {
        float: right;
        padding: 3px 0 0;
        font-weight: 400;
        font-size: 13px;
        color: #4a58ff;
        cursor: pointer;
        display: inline-block;

        &:after {
            clear: both;
        }
    }

    .irs--flat .irs-bar {
        cursor: pointer;
        background-color: rgb(102, 223, 141);
    }

    .irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single {
        background-color: rgb(102, 223, 141);
        cursor: pointer;

        &:before {
            border-top-color: rgb(102, 223, 141);
        }
    }

    .irs--flat .irs-to, .irs--flat .irs-single {
        background-color: rgb(102, 223, 141);
        cursor: pointer;
    }

    .irs--flat .irs-single {
        background-color: rgb(102, 223, 141);

    }

    .irs--flat .irs-handle > i:first-child {
        background-color: rgb(102, 223, 141);
    }

    .city_txt {
        text-transform: capitalize;
    }
}

@media all and (max-width: 767px) {
    .search_pg {
        .hero_sec {
            .title {
                font-size: 30px;
                padding: 45px 0 20px;
            }

            .job_found_txt {
                font-size: 18px;
            }
        }

        .main_cont_sec {
            .card_sec {
                padding: 16px 15px;

                .c_logo {
                    width: 30px;
                    left: 15px;
                    top: 13px;
                }
            }

            .title {
                font-size: 18px;
                padding: 0 0 0 40px;
            }

            .sub_title {
                font-size: 13px;
                padding: 0 0 9px 40px;
            }

            .cta_wrap {
                text-align: left;
                padding: 8px 0 0;
            }

            .job_details_wrap {
                text-align: left;
            }

            .bottom_cta_wrap {
                padding: 22px 0 50px;
            }
        }
    }
}