.signup_pg {
    background-color: #f8f8f9;

    .signup_wrap {
        padding: 69px 75px 78px 78px;

        .upload_photo_wrap {
            width: 226px;
            height: 226px;
            border: solid 1px #dce0e3;
            border-radius: 161px;
            background-color: #ffffff;
            position: relative;
            top: -30px;
            left: 20px;

            .img_sec {
                width: 216px;
                height: 216px;
                border-radius: 153.5px;
                border: dotted 2px #d3dae0;
                position: absolute;
                top: 4px;
                left: 4px;
            }

            .icon_wrap {
                display: inline-block;
                text-align: center;
                position: relative;
                top: 96px;
                left: 73px;

                .fa-camera {
                    opacity: 0.19;
                }

                .upload_txt {
                    font-size: 12px;
                    font-weight: 500;
                    opacity: 0.43;
                    color: #637282;
                }

            }

            .input_file {
                opacity: 0;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 1;
                width: 100%;
            }
        }

        .signup_title_wrap {
            .title {
                background-color: #ffed06;
                display: inline-block;
                font-size: 18px;
            }

            .sub_title {
                display: inline-block;
                font-size: 32px;
                font-weight: 400;
                letter-spacing: 0.4px;
                color: #4e5862;
                text-transform: uppercase;
            }
        }

        .role_wrap {
            display: table;

            .role_row {
                display: table-row;

                .role {
                    display: table-cell;
                    border-radius: 6px;
                    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13);
                    background-color: #ffffff;
                    padding: 35px 30px;
                    font-size: 12px;
                    letter-spacing: 0.6px;
                    font-weight: 600;
                    text-align: center;
                    color: #637282;
                    opacity: 0.54;
                    text-transform: uppercase;

                    .fa {
                        padding-right: 10px;
                    }
                }

                .active {
                    color: #25de8c !important;
                    opacity: 1;
                }


                .role_applicant {
                    display: table-cell;
                    border-radius: 6px;
                    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13);
                    background-color: #ffffff;
                    padding: 35px 30px;
                    font-size: 12px;
                    font-weight: bold;
                    letter-spacing: 0.6px;
                    text-align: center;
                    color: #25de8c;
                    text-transform: uppercase;

                    .fa {
                        padding-right: 10px;
                    }
                }
            }
        }

        .gl_input_text {
            opacity: 0.56;
            font-size: 11px;
            color: #637282;
            margin: 0 0 0 16px;
        }

        .verify_link {
            font-size: 11px;
            font-weight: bold;
            color: #ffffff;
            border-radius: 3px;
            background-color: #f5a623;
            padding: 3px 5px 2px 5px;
            margin: 0 0 0 4px;
        }

        .non_verify_link {
            font-size: 11px;
            font-weight: 700;
            color: #b7b7b7;
            border-radius: 3px;
            background-color: #ececec;
            padding: 3px 5px 2px 5px;
            margin: 0 0 0 4px;
        }

        .inr_txt {
            position: absolute;
            top: 25px;
            z-index: 1;
            right: 20px;
            color: #637282;
            font-size: 12px;
        }

        .cta_wrap {
            text-align: center;
            margin: 60px 0 0 0;
        }
    }


    @media (max-width: 767px) {

        .signup_wrap {
            margin: 0px -15px;
            box-shadow: 0 14px 37px 0 rgba(0, 0, 0, 0.15);
            background-image: linear-gradient(209deg, #ffffff, #f7f7f7);
            padding: 15px 12px 10px 12px;


            .signup_title_wrap .title {
                background-color: #ffed06;
                display: inline-block;
                font-size: 12px;
            }

            .signup_title_wrap .sub_title {
                display: inline-block;
                font-size: 16px;
                font-weight: 400;
                letter-spacing: 0.4px;
                color: #4e5862;
                text-transform: uppercase;
            }

            .upload_photo_wrap {
                width: 226px;
                height: 226px;
                border: solid 1px #dce0e3;
                border-radius: 161px;
                background-color: #ffffff;
                position: relative;
                top: 0px;
                left: 32px;
            }

            .cta_wrap {
                text-align: center;
                margin: 30px 0 0 0;

                .btn_preview {
                    margin: 0 0 14px 0;
                }
            }

        }
    }

}