.signup_rec_pg {
    .signup_wrap {
        margin-top: 47px;
        box-shadow: 0 14px 37px 0 rgba(0, 0, 0, 0.15);
        background-image: linear-gradient(209deg, #ffffff, #f7f7f7);
        padding: 69px 75px 78px 78px;

        .upload_photo_wrap {
            width: 236px;
            height: 236px;
            border: solid 1px #dce0e3;
            border-radius: 161px;
            background-color: #ffffff;
            position: relative;

            .img_sec {
                width: 226px;
                height: 226px;
                border-radius: 153.5px;
                border: dotted 2px #d3dae0;
                position: absolute;
                top: 4px;
                left: 4px;
            }

            .icon_wrap {
                display: inline-block;
                text-align: center;
                position: relative;
                top: 104px;
                left: 80px;

                .fa-camera {
                    opacity: 0.19;
                }

                .upload_txt {
                    font-size: 12px;
                    font-weight: 500;
                    opacity: 0.43;
                    color: #637282;
                }
            }
        }

        .btn_wrap {
            text-align: center;
            font-size: 12px;
            padding: 27px 36px 27px 36px;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13);
            background-color: #ffffff;
        }

        .active {
            color: #25de8c !important;
        }

        .not_active {
            color: #637282 !important;
        }


        .gl_input_text {
            opacity: 0.56;
            font-size: 11px;
            color: #637282;
            margin: 0 0 0 16px;
        }

        .verify_link {
            font-size: 11px;
            font-weight: bold;
            color: #ffffff;
            border-radius: 3px;
            background-color: #f5a623;
            padding: 3px 5px 2px 5px;
            margin: 0 0 0 4px;
        }

        .gl_input_box {
            font-size: 14px;
            color: #c7d3dd;
        }

        .draggable_box {
            border-radius: 5px;
            border: dotted 2px #dadada;
            background-color: rgba(255, 255, 255, 0);
            padding: 30px 0 30px 0;
            text-align: center;
            color: #2e3d4e;
            font-size: 14px;
        }

        .draggable_box .upload_link {
            font-weight: 400;
            color: #637282;
            cursor: pointer;
            text-decoration: underline;
        }

        .btn_preview {
            display: inline-block;
            border-radius: 5px;
            background-color: #e2e6ea;
            padding: 30px 68px;
            font-weight: 600;
            text-align: center;
            color: #2e3d4e;
        }

        .btn_proceed {
            display: inline-block;
            padding: 30px 68px;
            border-radius: 5px;
            box-shadow: 0 5px 14px 0 rgba(0, 0, 0, 0.25);
            background-color: #4a58ff;
            font-size: 14px;
            font-weight: bold;
            color: #ffffff;
        }

    }


}