<div class="row js_city_row">
    <div class="col-md-10">
        <div class="form-group pixl_form_group">
            <label class="control-label">City</label>
            <div class="box_sec">
                <div class="gl_search_box">
                    <input type="text" class="form-control search_input search_enabled js_search_city"
                           placeholder="Search City"
                           value="{{city.city}}"
                           data-tid="{{city.id}}"
                           autocomplete="off">
                    <span class="fa fa-search icon_sec search_enabled"></span>
                    <div class="gl_search_dropdown_list js_city_search_dropdown_list search_enabled hide"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <a class="btn btn_red remove_btn js_remove_city">Remove</a>
    </div>
</div>