{{#each data}}
    <div class="panel main_card_sec js_main_card_sec">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-12">
                    <a data-toggle="collapse" class="panel-title collapsed js_panel_title"
                       data-parent="#accordion"
                       href="#collapse_{{@index}}">
                        <div class="title_sec">
                            <span class="highlights">Job Name</span>
                            <span class="small_txt">5+ years</span>
                            <img src="/img/icons/arrow-down-small.svg" alt="" class="icon_arrow_down">
                        </div>
                        <div class="sub_title_sec">
                            <span class="small_txt">Company name, City name</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div id="collapse_{{@index}}" class="panel-collapse collapse">
            <div class="panel-body">

            </div>
        </div>
    </div>
{{/each}}