<div class="cd-popup is-visible {{theme}}" role="alert" id="windowPopup">
    <div class="cd-popup-container">
        {{{html}}}
        <a href="#0" class="cd-popup-close">
            &times;
        </a>
    </div>
</div>