<div class="row js_technology_row">
    <div class="col-md-6">
        <div class="form-group pixl_form_group">
            <label class="control-label">Technology</label>
            <div class="box_sec">
                <select class="form-control js_technology hide"
                        required="required">
                    <option value="0">Select Job Category</option>
                    {{#each technologies}}
                        <option value="{{this.id}}">{{this.name}}</option>
                    {{/each}}
                </select>
                <div class="gl_search_box">
                    <input type="text" class="form-control search_input search_enabled js_search_tech"
                           placeholder="Search Technology"
                           value="{{technology.name}}"
                           data-tid="{{technology.id}}"
                           autocomplete="off">
                    <span class="fa fa-search icon_sec search_enabled"></span>
                    <div class="gl_search_dropdown_list js_tech_search_dropdown_list search_enabled hide"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group pixl_form_group">
            <label class="control-label">Skill Level</label>
            <div class="box_sec">
                <select class="form-control js_tech_level"
                        required>
                    <option value="Basic"
                        {{#ifCond level '===' 'Basic'}}
                            selected
                        {{/ifCond}}>
                        Basic
                    </option>
                    <option value="Proficient"
                        {{#ifCond level '===' 'Proficient'}}
                            selected
                        {{/ifCond}}>
                        Proficient
                    </option>
                    <option value="Expert"
                        {{#ifCond level '===' 'Expert'}}
                            selected
                        {{/ifCond}}>
                        Expert
                    </option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <a class="btn btn_red remove_btn js_remove_technology">Remove</a>
    </div>
</div>